.yellow{color:#f1c40f}
.f20{font-size:20px}
#main{-webkit-overflow-scrolling:touch;background:#f9f9f9}
.no-brd{border:0}
#yzp-dl .yzp-droplist{background:#eee;border-bottom:solid #c8c7cc 1px;display:none;left:0;line-height:44px;position:absolute;right:0;top:46px;white-space:nowrap;z-index:2}
#yzp-dl .yzp-droplist .sort{border-bottom:1px solid #c8c7cc;padding-left:18px;position:relative}
#yzp-dl .yzp-droplist .sorts{background:#fff;padding-left:14px}
#yzp-dl-1 .drop-right p .input-price{line-height:44px;margin:0 10%;text-indent:1em;width:80%}
#yzp-qche .no-bg-brd{background:0;border:0}
.yzp-t .no-brd{border:0}
#yzp-qche{background:#f3f4f8;margin-bottom:50px}
#yzp-qche>ul{margin:0 auto}
#yzp-qche>ul>li{background:#fff;border-bottom:1px solid #c5c8d1;border-top:1px solid #c5c8d1;margin:10px auto;width:100%}
#yzp-qche>ul>li .qche-item{padding:8px 10px}
#yzp-qche>ul>li .qche-item .qche-left{display:inline-block;margin-right:20px;width:50%}
#yzp-qche h4{font-weight:400}
#yzp-qche>ul>li .qche-item .qche-right{display:inline-block;text-align:right;width:40%}
#yzp-zk{background:#fff;border:1px solid #ccc;margin:5px;min-height:100px}
#yzp-zk .yzp-zklist,#yzp-dl-1 .drop-right .droplist-right{display:none}
#yzp-zk>img{border:0;margin:0}
.c-f60{color:#f7b025}
.brd-t{border-top:1px solid #ccc}
.brd-b{border-bottom:1px solid #ccc}
.brd-r{border-right:1px solid #ccc}
.d-left .h{color:#f60;font-size:17px}
.demo{color:#fff;line-height:44px;text-align:center}
.list-item{position:relative}
.list-item .d{color:#999;float:right;font-size:12px;line-height:24px;margin:4px 10px 6px 0;width:62%}
.list-item .d .d-full{float:left;width:100%}
.list-item .d .d-full .d-addr{height:2em;line-height:1em;width:100%}
.list-item .d .d-full .d-addr span.fl{width:70%}
.list-item .d .d-full .d-addr span.fr{text-align:right;width:30%}
.list-item .d .d-full .d-title{max-width:75%}
.list-item .d .d-full .d-wait-accept{color:#f60;float:right;font-size:12px;line-height:1em;max-width:55%;text-align:right}
.list-item .d .d-full .date-time{height:2em;line-height:1em;margin:5px 0;width:100%}
.list-item .d .d-full>p{float:left;height:2em;overflow:hidden}
.list-item .d .d-left{display:inline-block;float:left;width:68%}
.list-item .d .d-right{display:inline-block;float:right;text-align:right;width:32%}
.list-item .d .d-title{color:#333;font-size:15px;line-height:1em}
.list-item .p{float:left;margin-left:6px;margin-right:6px;width:30%;height:85px}
.lleft-item{border-left:1px solid #ccc;display:inline-block;left:5%;margin-top:-10px;padding:0 10px;position:relative;width:90%}
.lleft-item .lleft-white{background:#fff;border-radius:10px;color:#333;margin:8px 8px 0;padding:12px 14px;position:relative}
.lleft-item .lleft-white .qche-left{display:inline-block;width:90%}
.lleft-item .lleft-white .qche-right{display:inline-block;position:absolute;right:26px;text-align:right;top:50px;width:8%}
.lleft-item .round-c{background:#f3f4f8;border:1px solid #999;border-radius:50%;display:inline-block;height:13px;left:-8px;line-height:12px;position:absolute;text-align:center;top:22px;width:13px}
.lleft-item p{padding-left:5px}
.qche-item .qche-bottom li{display:inline-block;line-height:1em;text-align:center}
.qche-item .qche-d{display:inline-block;float:right;width:62%}
.qche-item .qche-full{border-bottom:1px solid #c5c8d1;line-height:1.2em;padding-bottom:5px}
.qche-item .qche-full .full-date li{color:#999;display:inline-block;font-size:12px;line-height:24px;margin:10px auto;text-align:center;width:13%}
.qche-item .qche-full .full-sign{margin:10px auto}
.qche-item .qche-full .full-sign .use-day{background:#f7b73b}
.qche-item .qche-full .full-sign .use-no{background:#f60}
.qche-item .qche-full .full-sign .using{background:#017aff}
.qche-item .qche-full .full-sign i{border-radius:50%;color:#fff;display:inline-block;height:14px;margin:0 4px -3px;text-align:center;width:14px}
.qche-item .qche-full .full-sign li{color:#333;display:inline-block;font-size:12px;line-height:24px;text-align:center}
.qche-item .qche-full .use-no{background:#f60;border-radius:50%;color:#fff;display:inline-block;width:20px;height:20px;text-align:center;line-height:20px}
.qche-item .qche-full>h4{display:inline-block;min-width:4em}
.qche-item .qche-full>span{text-align:right}
.qche-item .qche-left>ul{color:#999;font-size:12px;line-height:2em;margin:10px}
.qche-item .qche-p{display:inline-block;height:86px;margin-right:10px;overflow:hidden;width:33%}
.qche-item .qche-right>ul{color:#999;font-size:12px;line-height:2em;margin:10px;text-align:left}
.qche-item ul>li>i{margin-right:1em}
.sort-droplist-mask{background:#000;height:100%;opacity:.7;position:absolute;top:50px;width:100%;z-index:1}
.table-equal{border-bottom:1px solid #ddd;border-top:1px solid #ddd;display:table;table-layout:fixed;width:100%}
.table-equal li{border-right:1px solid #ddd;display:table-cell}
.table-equal li a.selected{color:#f50}
.yzp-droplist .drop-left{float:left;width:33%}
.yzp-droplist .drop-left .current{background:#fff;display:inline-block;width:100%}
.yzp-droplist .drop-left a{float:left;text-indent:32px}
.yzp-droplist .drop-right{background:#fff;float:right;width:67%}
.yzp-searchlist{background:#f9f9f9}
.yzp-searchlist .page-container>li{border-bottom:1px solid #dbdbdb;min-height:86px;padding:12px 6px;position:relative}
.yzp-t{background:#fff;border-bottom:1px solid #ccc;position:relative;width:100%;z-index:100}
.yzp-zklist .page-container>li{border-bottom:1px dotted #dbdbdb;min-height:86px;padding:12px 4px;position:relative}
.yzp-zklist .page-container>li .p,.yzp-searchlist .page-container>li .p{display:inline-block;overflow:hidden;text-align:center}
.yzp-zklist>.page-container>li:nth-of-type(1),.yzp-searchlist .page-container>li:nth-of-type(1){border-top:1px solid #dbdbdb}
.yzp-zklist>ul,.yzp-searchlist>ul{min-height:300px}
.yzp-zklist ul li .list-item .circle{background:#f9f9f9;border:1px solid #ccc;border-radius:50%;height:26px;position:absolute;right:-18px;top:32px;width:26px}
input.orange-button{border:0}
#yzp-dl .droplist-expand,#yzp-zk .zklist-expand,#yzp-dl-1 .drop-right .cur-list{display:block}
#yzp-qche .qche-item textarea{width:93%;height:70px;margin:0 auto;padding:8px;border:1px solid #c5c8d1;color:#999}
#yzp-qche .qche-item .warming{width:90%;text-align:center}
#yzp-qche .qche-item .blue{color:#017aff}
#yzp-qche .qche-item ul.yzp-ilist{display:inline-block}
#yzp-qche .qche-item ul.yzp-ilist li{display:inline-block}
.yzq_jqxxbox input.file-pic{bottom:0;left:10px;opacity: 0;display: inline-block;width:83px;height:82px;z-index:4;position: absolute;}
.yzq_jqxxbox .add-pic{bottom:10px;left:0px;display:inline-block;background:url(../images/bg_add_pic.jpg) no-repeat;width:83px;position:absolute;height:82px;border:1px dashed #ccc;margin-left:5px;color:transparent}
.yzq_jqxxbox textarea.discribe{float:left;display: inline-block;width: 100%;height:40px;margin:0;}
.p2p-popup.is-visible{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0,visibility 0 0;-moz-transition:opacity .3s 0,visibility 0 0;transition:opacity .3s 0,visibility 0 0}
.p2p-popup{position:fixed;top:0;left:0;z-index:99;visibility:hidden;width:100%;height:100%;background-color:rgba(00,00,00,0.8);opacity:0;-webkit-transition:opacity .3s 0,visibility 0 .3s;-moz-transition:opacity .3s 0,visibility 0 .3s;transition:opacity .3s 0,visibility 0 .3s}
.is-visible .p2p-popup-container{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);-ms-transform:translateY(0)}
.p2p-popup-container{position:relative;z-index:100;width:90%;top:30%;left:5%;height:251px;text-align:center;font-family:"微软雅黑";background-color:#fff;overflow:hidden;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;transition-property:transform;-webkit-transform:translateY(-40px);-moz-transform:translateY(-40px);-o-transform:translateY(-40px);transform:translateY(-40px);-ms-transform:translateY(-40px);-webkit-backface-visibility:hidden}
.p2p-popup .p2p-popup-container li input{display:inline-block}
.p2p-popup-container ul li .yzm input{display:inline-block;border:0;height:40px;text-indent:1em}
.p2p-popup-container ul li .yzm{width:53%;border:1px solid #ccc;height:40px;margin-left:7%}
.p2p-popup-container ul li .yz{width:30%;margin-right:7%}
.p2p-popup-container ul li .button{width:50%;color:#fff;font-size:16px;height:48px;line-height:48px}
.p2p-popup-container ul li .qd{background:#f60}
.p2p-popup-container ul li .qx{margin-left:-1px;border-right:1px solid #ccc;background:#eee;color:#000}
#yzp-qche>ul>li .qche-item .car-date{display:inline-block;height:40px;width:48%;text-align:center;line-height:20px;padding:10px 0;border:1px solid #4788f4;border-radius:10px}
#yzp-qche>ul>li .qche-item .car-date .blue{color:#4788f4}
#yzp-qche>ul>li .qche-item .addr-case{border:1px solid #4788f4;border-radius:5px;padding:5px 10px;background:#fff;height:30px;line-height:30px;width:80%}
#yzp-qche>ul>li .qche-item .addr-case .addr-button{;border:0;background:#fff}
#yzp-qche>ul>li .qche-item .radiobox{display:inline-block;width:80px;height:26px;border:1px solid #4788f4;background:#fff;border-radius:5px;text-align:center;line-height:26px;margin-top:10px}
#yzp-qche>ul>li .qche-item .checkbox{position:relative;display:inline-block;width:48%;height:60px;border:1px solid #4788f4;text-align:center;border-radius:10px;color:#4788f4;margin-top:5px}
#yzp-qche>ul>li .qche-item .checkbox .checkit{position:absolute;top:0;left:0;display:inline-block;width:100%;height:60px;background-color:#fff;z-index:10;background:#fff;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
#yzp-qche>ul>li .qche-item .checkbox span{display:block;width:60px;height:20px;margin:10px auto;margin-bottom:-20px;background-image:url(../images/pic_car.png)}
#yzp-qche>ul>li .qche-item .checkbox .car-j{background-position:0 24px}
#yzp-qche>ul>li .qche-item .r_cur .car-j{background-position:0 54px}
#yzp-qche>ul>li .qche-item .checkbox .car-ji{background-position:60px 24px}
#yzp-qche>ul>li .qche-item .r_cur .car-ji{background-position:60px 54px}
#yzp-qche>ul>li .qche-item .checkbox .car-s{background-position:120px 24px}
#yzp-qche>ul>li .qche-item .r_cur .car-s{background-position:120px 54px}
#yzp-qche>ul>li .qche-item .checkbox .car-h{background-position:180px 24px}
#yzp-qche>ul>li .qche-item .r_cur .car-h{background-position:180px 54px}
#yzp-qche>ul>li .qche-item .r_cur{background:#4788f4;color:#fff}
#yzp-qche>ul>li .file-pic{position:absolute;width:100%;height:194px;left:0;top:0;z-index:10;background:#fff;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
#yzp-qche>ul>li .top-p{position:absolute;bottom:10px}
.qche-item>ul>.file-pic-sm{margin-bottom:22px;width:97px;height:97px;display:inline-block;background-image:url(../images/bg_photo_pic.jpg);background-repeat:no-repeat;background-size:100%;position:relative}
.qche-item>ul>.file-pic-sm>.file-sm{position:absolute;width:97px;height:119px;left:0;top:0;z-index:10;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
.qche-item>ul>.file-pic-sm>p{position:absolute;bottom:-20px;display:inline-block;width:97px;text-align:center;font-size:12px;color:#999}
.qche-item .yzp_city{display: inline-block;width:32%;height:34px;line-height: 34px;text-align: center;}
.qche-item .city_list .qche-full{padding:0;}
.qche-item .city_list .qche-full.no-brd {border:none;}
.ucar-r-box ul.ucar-dj{border:0;background:0}
.ucar-r-box li.height100{padding-top:5px;height:100px}
.ucar-r-box li.height115{padding-top:5px;height:115px}
.ucar-r-box li.height100 .radioicon{position:absolute;top:40px;right:30px}
.ucar-r-box li.height100>div{padding-left:5px;text-indent:0;line-height:21px}
.ucar-r-box li.height115 .radioicon{position:absolute;top:40px;right:30px}
.ucar-r-box li.height115>div{padding-left:10px;text-indent:0;line-height:23px}
.ucar-r-box ul.ucar-dj li{margin-top:10px;height:80px;border:0;background:#fff}
.ucar-r-box ul.ucar-dj li.passed{color:#999}
.ucar-r-box ul.ucar-dj li .b-money{display:inline;margin-right:10px;margin-left:20px;width:16%;color:#fbae1a;vertical-align:middle;text-align:center;font-size:22px}
.ucar-r-box ul.ucar-dj li.passed .b-money{color:#999}
.ucar-r-box ul.ucar-dj li .b-money>span{margin-left:-10px;font-size:22px}
.ucar-r-box ul.ucar-dj li .dj-list{position:relative;display:inline-block;margin-left:10px;padding-top:8px;width:58%;height:62px;color:#444;vertical-align:middle;font-size:12px;line-height:18px}
.ucar-r-box ul.ucar-dj li .dj-list .deadtime{position:absolute;bottom:8px}
.ucar-r-box ul.ucar-dj li .brd-l{position:absolute;top:0;left:-4px;display:inline-block;width:16px;height:80px;background:url(../images/brd_dj1.png) no-repeat}
.ucar-r-box ul.ucar-dj li .brd-r{position:absolute;right:-6px;display:inline-block;width:18px;height:80px;background:url(../images/brd_dj2.png) no-repeat}
.ucar-r-box ul.ucar-dj li .radiobox{position:absolute;top:45px;right:20px;display:inline-block;display:none;border:0}
.yzp-leader{width:100%;height:100%;background:rgba(0,0,0,.5);position:fixed;top:0;z-index:29;display: none;}
.yzp-lrcon{position: absolute;top:300px;width:100%;height:100%;z-index:33;display: none;}
.yzp-lrcon img{width:100%;}
.yzp-leader.on{display:block;}
.yzp-lrcon.on{display: block;}