@charset:'uft-8';
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    list-style:none;
}
html,body{
    margin: 0;
    font-family:"Microsoft Yahei";
	width: 640px;
	height: 1029px;
	overflow:hidden;
	background-color:#FFF;
	background-size:100%;
	background-image:url(../images/bg.png);
}
#horizontal {
	background: url("../images/phone.png") no-repeat center center #000;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}
#newloading {
	width: 100%;
	height: 100%;
	z-index: 99999;
	left: 0;
	top: 0;
	position: absolute;
}

/* 领券部分 */
.getcon{
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
}
.getcon .inner{
	width:640px;
	height:1029px;
    position: absolute;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    top: 0;
}
img{display:block;position: absolute;}
.getcon .p-1{
	top:5%;
	left:0;
}
.getcon .inputcon{
	list-style:none;
	width:60%;
	top:520px;
	left:20%;
}


.getcon .inputcon li{
	width:100%;
	height:90px;
	line-height:90px;
	position: relative;
}
.getcon li .bg-tel{width:100%;}
.getcon li input{
	font-family: "Microsoft Yahei";
	display:inline-block;
	height:60px;
	position: absolute;
	top:0;
	border-radius:35px;
	border:none;
	outline: none;
	text-align: center;
	color:#d3b890;
	font-size:24px;
	background-color: transparent;
	-webkit-tap-highlight-color:transparent;
}
li .bg-code{display:inline-block;height:73px;float:left}
li .bg-reset{display:inline-block;height:73px;float: right}
li input.input-tel{width:100%;}
li input.input-code{left:0;width:54%}
li input.input-reset{
	right:0;
	width:43%;
	color:#fff;
	text-shadow:#a27b45 3px 0 0,#a27b45 0 3px 0,#a27b45 -3px 0 0,#a27b45 0 -3px 0;
}
li input::-webkit-input-placeholder {
	color:#d3b890;
}
li.h150{height:150px;}
li .mksure{width:100%;color:#d3b890;line-height: 40px;font-size:20px;text-align: center;top:80px;}
li .mksure:before,
li .mksure:after{
	display: inline-block;
	position: absolute;
	width:6px;
	height:6px;
	border-radius:3px;
	background: #d3b890;
	content:'';
	top:20px;
}
li .mksure:before{left:10px;}
li .mksure:after{right:10px;}
li .btn-check{width:100%;}
@-webkit-keyframes snow{
	0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
	100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
    }
	}
@keyframes snow{
	0% {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    50% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
	100% {
        opacity: 0;
        transform: translate3d(0, 60px, 0);
    }
}
@-webkit-keyframes fadeIn{
  0% {
	  opacity:0;
  }
  100%{
	  opacity:1;
  }
}
@keyframes fadeIn{
  0% {
	  opacity:0;
  }
  100%{
	  opacity:1;
  }
}
