<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>神州金融_神州优车集团</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="description" content="神州金融中的神州闪贷是一站式汽车金融服务平台，依托神州优车庞大、精准的人车数据云平台，为客户提供新车金融、二手车金融、汽车抵押贷款等全面、专业、安全、便捷的汽车金融服务。">
<meta name="keywords" content="神州金融,神州闪贷">
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="header" class="">
    <div class="head_bd">
        <a href="http://www.ucarinc.com/" class="logo" alt="神州优车集团"></a>
        <ul class="menu">
            <li><a href="http://www.ucarinc.com/">首页</a></li>
            <li class="ahover">
                <a href="javascript:;" class="co">关于我们<i class="arrow"></i></a>
                <div class="hoverbox">
                    <div class="p-re">
                        <i class="up"></i>
                        <a href="../aboutgroup/about.html">关于优车</a>
                        <a href="../aboutgroup/honour.html">公司荣誉</a>
                        <a href="../aboutgroup/history.html">发展历程</a>
                    </div>
                </div>
            </li>
            <li><a href="../team/team.html">管理团队</a></li>
            <li class="ahover cur">
                <a href="javascript:;" class="co">业务布局<i class="arrow"></i></a>
                <div class="hoverbox">
                    <div class="p-re">
                        <i class="up"></i>
                        <a href="../layout/trip.html">神州出行</a>
                        <a href="../layout/ecommerce.html">神州买卖车</a>
                        <a href="../layout/financial.html">神州闪贷</a>
                    </div>
                </div>
            </li>
            <li><a href="../news/newsindex.html">新闻中心</a></li>
            <li><a href="http://hr.zuche.com/" target="_blank">招贤纳士</a></li>
            <li><a href="http://hr.zuche.com/" target="_blank">投资者关系</a></li>
            <li class="s-b-b"><div class="search_button" id="ucarsearch"></div></li>
            <li class="clear"></li>
        </ul>
        <div id="ac-gn-searchview" class="ac-gn-searchview">
            <div class="ac-gn-searchview-content">
                <div class="ac-gn-searchform-wrapper"><i class="searchicon"></i>了解更多神州优车资讯</div>
                <div id="ac-gn-searchresults" class="ac-gn-searchresults">
                    <div class="section">
                        <ul class="ac-gn-searchresults-list">
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../aboutgroup/about.html" target="_blank"><b class="numbone">1</b>神州优车集团</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../layout/trip.html" target="_blank"><b class="numbtwo">2</b>神州租车</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../layout/trip.html" target="_blank"><b class="numbthree">3</b>神州专车</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../layout/ecommerce.html" target="_blank"><b class="numbgray">4</b>神州买卖车</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../layout/financial.html" target="_blank"><b class="numbgray">5</b>神州闪贷</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../team/team.html" target="_blank"><b class="numbgray">6</b>管理团队</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../news/newsindex.html" target="_blank"><b class="numbgray">7</b>公司新闻</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../aboutgroup/honour.html" target="_blank"><b class="numbgray">8</b>公司荣耀</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../aboutgroup/history.html" target="_blank"><b class="numbgray">9</b>发展历程</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../news/newsStrategy.html" target="_blank"><b class="numbgray">10</b>战略和愿景</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../news/newsPerformance.html" target="_blank"><b class="numbgray">11</b>公司业绩</a>
                            </li>
                            <li class="ac-gn-searchresults-item ac-gn-searchresults-animated">
                                <a href="../partner/partner.html" target="_blank"><b class="numbgray">12</b>合作伙伴</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a id="ac-gn-searchview-close" class="ac-gn-searchview-close"></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="normal-page">
	<div class="page-top"></div>
	<div class="page-tab" id="page-tab">
		<ul>
			<li><a href="trip.html">神州出行</a></li>
			<li><a href="ecommerce.html">神州买卖车</a></li>
			<li class="active"><a href="javascript:;" class="active">神州闪贷</a></li>
		</ul>
		<div class="border"><span style="width: 56px; left: 142px; overflow: hidden; display: block;"></span></div>
	</div>
	<div class="page-content">
		<div class="con-item">
			<div class="ite-logo shdai"></div>
			<div class="ite-content">
				<div class="">
					<h2>一站式汽车金融服务平台</h2>
					<img src="../images/peo_1.jpg" alt="" class="pic-inner"/>
					<p>神州闪贷是神州优车股份有限公司旗下的一站式汽车金融服务平台。</p>
					<p>神州优车股份有限公司旗下囊括神州租车、神州专车、神州买卖车、神州闪贷等众多优质企业。神州闪贷作为神州优车“重塑人车生态圈”的重要一环，与其他业务版块发挥强强联合的协同效应，<span class="brown">以客户为中心，以技术为驱动，深度聚焦出行、汽车领域，依托神州优车庞大、精准的人车数据云平台，为客户提供新车金融、二手车金融、汽车抵押借贷等全面、专业、安全、便捷的汽车金融服务。</span></p>
					<p>现已覆盖沈阳、南京、福州、成都、鞍山、淄博、南充、泉州、宜昌等城市，其他城市正在陆续开放。</p>
				</div>
				<div>
					<h2 class="light">合作伙伴</h2>
					<ul>
						<li><a href="">
								<div class="co-logo zuche"></div>
								<p>神州租车</p>
							</a>
						</li>
						<li><a href="">
								<div class="co-logo ucar"></div>
								<p>神州专车</p>
							</a>
						</li>
						<li><a href="">
								<div class="co-logo mmche"></div>
								<p>神州买卖车</p>
							</a></li>
						<li><a href="">
								<div class="co-logo ali"></div>
								<p>阿里巴巴</p>
							</a>
						</li>
						<li><a href="">
								<div class="co-logo alipay"></div>
								<p>支付宝</p>
							</a>
						</li>
						<li><a href="">
								<div class="co-logo gda"></div>
								<p>光大金融租赁</p>
							</a></li>
						<li><a href="">
								<div class="co-logo che300"></div>
								<p>车300</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="ite-bottom">
				<ul>
					<li>
						<img src="../images/carbank_QRCode.png" width="100" height="100">
						<a href="javascript:;" style="cursor: default;">扫码访问移动端</a>
					</li>
					<li onClick="window.open('http://www.carbank.cn/')">
						<div class="icon desk">	</div>
						<a href="http://www.carbank.cn/" target="_blank">访问网页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="footer">
    <div class="waper">
        <div class="ainfor p-re">
            <a href="../aboutgroup/about.html">关于我们</a>
            <a href="http://ir.zuche.com/" target="_blank">投资者关系</a>
            <a href="../news/newsindex.html">新闻中心</a>
            <a href="../partner/partner.html">合作伙伴</a>
            <a href="http://hr.zuche.com/" target="_blank">招贤纳士 </a>
          <div class="zhicon"></div>
        </div>
        <div class="copyright">
            Copyright©2016 www.ucarinc.com All Rights Reserved.　神州优车集团官网   京ICP备16013518号
        </div>
    </div>
</div>
<script src="../js/jquery/jquery-1.9.1.min.js"></script>
<script src="../js/jquery/jquery.navSlither.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</body>
</html>