/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-7-9, 10:30:19
    Author     : dev001
*/
body,html,.x-box,.qs,.one,.action-one,.action-two,.action-three,.action-four,.over,.final{width:100%; margin: 0; padding: 0;max-width:640px;overflow: hidden;}
.beijing1,.two_beijing,.fwc_beijing,.bare_beijing,.mdq_beijing,.dq_beijing,.over_beijing,.final_beijing,.fenx,.success_beijing{position: absolute; width: 100%;top:0;left:0;}
.lq-one{position: relative;width: 100%; }
.lq-one-beijing{position: relative; width: 100%;top:0;left:0;max-width:640px;}
.qs_zi{position: absolute; top: 1%; left: 5%; width: 90%;max-width:576px;}
.qs_xiong{position: absolute; top: 36%; left: 25%; width: 50%;max-width:320px}
.qs_sorry{position: absolute; top: 46%; right: 8%; width: 25%;max-width:160px;}
.qs_button{position: absolute; bottom: 1%; right: 25%; width: 50%;max-width:320px;}
.huayang{position: absolute; top: 11%; left: 10%; width: 80%;max-width:512px;}
.button_1{position: absolute; bottom: 3%; left: 2%; width: 25%;max-width:160px;}
.button_2{position: absolute; bottom: 3%; left: 25.5%; width: 25%;max-width:160px;}
.button_3{position: absolute; bottom: 3%; right: 25.5%; width: 25%;max-width:160px;}
.button_4{position: absolute; bottom: 3%; right: 2%; width: 25%;max-width:160px;}
.bujieqi{position: absolute; bottom: 5%; left: 5%; width:45%;max-width:288px;}
.raoleta{position: absolute; bottom: 5%; right: 5%; width: 45%;max-width:288px;}
.lingquan{position: absolute; bottom: 5%; left: 5%; width: 45%;max-width:288px;}
.yiqi{position: absolute; bottom: 5%; right: 5%; width: 45%;max-width:288px;}
.button-lingqu{position: absolute; top: 67%; left: 11.5%; width: 77%;max-width:493px;}
.font{font-size: 20px; color: #f26d4f; position: absolute; bottom: 6%; width: 66%; left: 17%;text-align:center;}
.success_zi{position: absolute; top: 10%; width: 80%; left: 10%; text-align: center}
.coupons{position: absolute; top: 22%; left: 25%; width: 50%;max-width:320px;}
.price{position: absolute; top: 20%; left: 48%; font-size: 34px; color: #fff}
@media screen and (max-width: 320px){.price{top:18%;}}
.biaozhu{color: #f26d4f}
.down{position: absolute; top: 60%; left: 20%; width: 60%;max-width:384px;}
.lingguo,.guoqi{width: 100%; position: absolute; top: 0%; left: 0%;  background-color:#000; opacity: 0.9;}
.yilingguo{position: absolute; top: 10%; left: 10%; width: 80%;max-width:512px;}
.yiguoqi{position: absolute; top: 10%; left: 10%; width: 80%;max-width:512px;}
.ceng{position: absolute; bottom: 0%; width: 100%; left: 0%; max-width:640px;}
.yiqi2{position: absolute; top: 75%; left: 20%; width: 60%;max-width:384px;}

#input{position: absolute; top: 56%; left: 17%; width: 65%;max-width:416px; height: 7%; border-color: #f26d4f; border-radius: 8px; background: #000;  color: #f26d4f; text-align: center}
::-webkit-input-placeholder { color:#f26d4f; align: center; }
::-moz-placeholder { color:#f26d4f;  align: center; } /* firefox 19+ */
:-ms-input-placeholder { color:#f26d4f; align: center;  outline:none;} /* ie */
input:-moz-placeholder { color:#f26d4f; align: center; outline:none;}
.load {width:100%;position: absolute; top: 0%; left: 0%;background-color: #fbf2dc; background-size: cover;overflow: hidden;display: block;z-index: 1009; opacity: 0.8;}
.spinner {width:30%;position:absolute;left:35%;top:40%;text-align: center; margin: 100px 0;}
.spinner > div {width: 18px;height: 18px;background-color: #ffbcb6;border-radius: 100%;display: inline-block;
                -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
                animation: bouncedelay 1.4s infinite ease-in-out;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
}
.spinner .bounce1 {-webkit-animation-delay: -0.32s;animation-delay: -0.32s;}
.spinner .bounce2 {-webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}