@charset="utf-8";
.img,.page,body{width:100%}
*{font-family:'Microsoft Yahei';margin:0;padding:0}
.page,.page .wrap,body{margin:0;padding:0}
.img,.page,.pub-passdown{position:absolute}
ul,ol{list-style:none}
body,html{overflow:hidden;font-size:10px;background:#fff;width:100%;height:100%;}


/*lazyloader*/
.loading_overlay{position:absolute;top:0;left:0;z-index:667000;width:100%;height:100%;-webkit-transition:opacity 1s;transition:opacity 1s;}
.lodingicon{top:26%}
.lodingicon,.lodingslogan{position:absolute;left:35%;width:30%}
.lodingslogan{top:43%}
.lodingfont{position:absolute;bottom:3%;left:35%;width:30%;}
@media screen and (max-device-height:480px){.lodingicon{position:absolute;top:22%;left:35%;width:30%}}
/* end lazyloader */

.hide{display:none}
.wrapper{width:100%;height:100%;background:#fff;max-width:414px;margin:0 auto;overflow:hidden;}
.page{height:100%;max-width:414px;min-width:320px;text-align:center;font-size:100px;top:0;overflow:hidden;}
.page .wrap{margin:0 auto}
.page .wrap>.img{display:block;height:100%;width:auto;z-index:99}
.page-current{z-index:1}
.pub-passdown{
	-webkit-animation-timing-function:ease;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	bottom:4%;
	left:47%;
	z-index:99;
	width:6%;
	-webkit-animation-name:passdown
}
.pub-passdown >img{vertical-align:bottom;width:100%;}
.page-7-1{width:100%;height:100%;background:url(../image/bg_get.jpg) no-repeat;background-size:100% 100%;}
.page-7-1 .wrap{width:100%;height:100%;}
.page-7-1 .wrap .get{margin:0 auto;display:block;}
.page-7-1 .wrap .inputcon{width:100%;height:6rem;margin-top:1rem;}
.page-7-1 .wrap li {height:3.7rem;width:100%;box-sizing: border-box;position:relative;z-index:9}
.page-7-1 .wrap li .get{width:100%;}
.page-7-1 .wrap li .btn-go{width:34%;position:absolute;left:33%;}
.page-7-1 .wrap li input{position: absolute;top:0;display: block;width:38%;left:42%;text-align:center;background:none;outline:none;border:none;height:2rem;line-height: 2rem;font-size:1.6rem;}
.page-7-1 .wrap .slogan{height:32%;margin-top:10%;}
.page-7-1 .wrap .car{position:absolute;width:100%;bottom:10%;right:0;z-index:1}
.page-7-1 .wrap .bot{position:absolute;width:100%;bottom:2%;z-index:1}
.alcon{position: fixed;top:0;width:100%;z-index:99;max-width:414px;margin:0 auto;display:none;}
.alcon .close{position: absolute;right:4%;z-index:100;top:7%;display:block;width:12%;height:12%;font-size:3rem;line-height: 3rem;text-align: center;color:#072544}
.alcon img.bg-alcon,.alcon img.money{width:100%;}
.alcon ul{position: absolute;top:10%;width:100%}
.alcon li{position: relative;width:100%;margin:.5rem auto;text-align: center;color:#072544;font-size:1.4rem}
.alcon li .t-get,.alcon li .t-got{display:none}
.alcon .btn-dld,.alcon .btn-wx{width:34%;}

.pic-share{display:block;width:100%;height:100%;position:fixed;z-index:999;left:0;top:0;}
@-webkit-keyframes passdown{
	0%{bottom:3%;opacity:.3}
	50%{bottom:1%;opacity:.8}
	100%{bottom:3%;opacity:1}
}





