body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
	overflow:hidden;
}
body {
	position:relative;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
	width:100%;
    height: 100%;
	overflow:hidden;
	background-color:#FFF;
	background-size:100% 100%;
	
}
.disnone{
	display:none;}
img{
	position:absolute;
	opacity:0;
	}
.pa{
	position:absolute;
	}
.z8{
	z-index:8;
	}
.z9{
	z-index:9;
	}
.z10{
	z-index:10;
	}
#horizontal { background: url("../images/phone.png") no-repeat center center #000; display: none; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 100000; }
#newloading { width: 100%; height: 100%; z-index: 99999; left: 0; top: 0; position: absolute;}
.loading { height: 100%; position: relative; background-color:#FFF; background-size: 100% 100%; top: 0; margin:0 auto; }
.percentN{ font-size:1em; color:#ff7c8c; width:16%; position:absolute; left:43%; top:30%; text-align:center; z-index:12; font-weight:bold;}
.zhuan{
	position:absolute;
	width:16%;
	top:27%;
	left:43%;
	opacity:1!important;
	-webkit-animation: music_rotate 1.5s linear 0s infinite;
    animation: music_rotate 1.5s linear 0s infinite;
}
.swiper-container {
        width: 100%;
        height: 100%;
    }
.page, .slide0, .slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7{
	position: relative;
	overflow:hidden;
	width:100%;
	height: 100%;
	margin:0 auto;
	top:0;
	}
.title{
	width: 86%;
    top: 8%;
    left: 7%;
	}
.swiper-slide-active .title{
	-webkit-animation: ring 0.5s linear 0s forwards;
    animation: ring 0.5s linear 0s forwards;
	}
.desc{
	width: 84%;
    top: 25%;
    left: 8%;
	}
.swiper-slide-active .desc{
	-webkit-animation: fadeInTop 0.5s linear 0.5s forwards;
    animation: fadeInTop 0.5s linear 0.5s forwards;
	}
.hand{
	width: 98%;
    top: 38%;
    left: 1%;
	}
.banner{
	width: 74%;
    top: 35%;
    left: 13%;
	}
.swiper-slide-active .hand, .swiper-slide-active .banner{
	-webkit-animation: fadeIn 1s linear 1s forwards;
    animation: fadeIn 1s linear 1s forwards;
	}
.btn_lq{
	width: 42%;
    top: 80%;
    left: 29%;
	}
.slide5 .btn_lq{
	top: 84%;
	}
.swiper-slide-active .btn_lq{
	-webkit-animation: fadeInBom 0.5s linear 1.5s forwards;
    animation: fadeInBom 0.5s linear 1.5s forwards;
	}
.fadeIn{
	-webkit-animation: fadeIn 1s linear 1s forwards;
    animation: fadeIn 1s linear 1s forwards;
	}
.fadeOut{
	-webkit-animation: fadeOut 1s linear 0s forwards;
    animation: fadeOut 1s linear 0s forwards;
	}
.sTop, .sBom{
	width:100%;
	left:0;
	opacity:1;
	}
.sTop{
	top:0;
	}
.sBom{
	bottom:0;
	}
.sText{
	width:60%;
	top:58%;
	left:20%;
	}
.swiper-slide-active .sText{
	-webkit-animation: fadeInTop 1s linear .5s forwards;
    animation: fadeInTop 1s linear .5s forwards;
	}
.xin{
	width:11%;
	bottom:5%;
	left:44.5%;
	}
.scaleXin{
	-webkit-animation: scaleXin 0.8s linear 1s infinite;
    animation: scaleXin 0.8s linear 1s infinite;
	}
.Info{
	width:100%;
	height:20%;
	left:0;
	bottom:7%;
	}
.telinput{
	background:url(../images/bomBorder.png) no-repeat center bottom;
	background-size:100% auto;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    height: 6%;
    width: 64%;
    left: 18%;
    top: 72%;
    color: #545454;
	text-align:center;
	opacity:0;
	}
.swiper-slide-active .telinput{	
	-webkit-animation: fadeInTop 1s linear 1.5s forwards;
    animation: fadeInTop 1s linear 1.5s forwards;
	}
.quan{left:0;top:0;width:100%;height:100%; background:url(../images/kuangbg.png) no-repeat 10% 30%; background-size:contain; background-color:rgba(255,255,255,0.9);filter:alpha(opacity=90); z-index:99; display:none;}
.quan img{
	opacity:1;
	}
.quan_bg{
	width: 70%;
    top: 20%;
    left: 15%;
	}
.quan_text{
	font-family:"微软雅黑";
	width:90%;
	text-align:center;
	font-size:0.8rem;
	color:#888fb4;
	left:5%;
	top:38%;
	}	
.btn_share, .btn_down{
	width: 70%;
    left: 15%;
	}
.btn_share{
    top: 55%;
	}
.btn_down{
    top: 44%;
	}
.btn_close{
	width: 11%;
    height: 7%;
    top: 15%;
    /* background-color: rgba(0,0,204,0.5); */
    right: 0%;
	}
.gl{
	width:100%;
	height:100%;
	top:0;
	left:0;
	overflow:scroll;
	}
.share{display:none;position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);filter:alpha(opacity=90); z-index:99; display:none;}
.share img{
	width:44%;
	right:5%;
	top:5%;
	z-index:99;
	opacity:1!important;
}
/*向上滑动指示*/
.arrow_t, .arrow_b{
	width: 6%;
    left: 47%;
	z-index:99;
	display:none;
	}	
.arrow_t{
    top: 1%;
	-webkit-animation:fadeInTop 1s linear 0s infinite;
	animation:fadeInTop 1s linear 0s infinite;
	}	
.arrow_b{
    bottom: 1%;
	-webkit-animation:fadeInBottom 1s linear 0s infinite;
	animation:fadeInBottom 1s linear 0s infinite;
	}

@media screen and (max-height:480px){
	}
.music_btn{
	position: absolute;
	width:35px;
	height:35px;
	right:2%;
	top:2%;
	background: url('../images/btn_music.png') no-repeat;
	background-size:100% 100%;
	z-index:9999;
}
@keyframes music_rotate {
    0% {
       transform:rotate(0deg);
    }
    100% {
       transform:rotate(360deg);
    }
}

@-webkit-keyframes music_rotate {
   0% {
       -webkit-transform:rotate(0deg);
    }

   
    100% {
       -webkit-transform:rotate(360deg);
    }
}
/*动画*/
@keyframes fd{
	0%{
		transform:scale(0.5);
		opacity:1;
	}
	100%{
		transform:scale(1);
		opacity:1;
		}
}
@-webkit-keyframes fd{
	0%{
		-webkit-transform:scale(0.5);
		opacity:1;
	}
	100%{
		-webkit-transform:scale(1);
		opacity:1;
		}
}
@-webkit-keyframes ring{
	0%{
		-webkit-transform:scale(0.2);
		opacity:1;
	}
	100%{
		-webkit-transform:scale(1);
		opacity:1;
		}
}
@keyframes ring{
	0%{
		transform:scale(0.2);
		opacity:1;
	}
	100%{
		transform:scale(1);
		opacity:1;
		}
}
@keyframes jiao {
    0%{
        transform: translate3d(100px, 0, 0);
		opacity:1;
    }
    100%{
        transform: translate3d(0, 0, 0);
		opacity:1;
    }
}

@-webkit-keyframes jiao {
     0%{
        -webkit-transform: translate3d(100px, 0, 0);
		opacity:1;
    }
    100%{
        -webkit-transform: translate3d(0, 0, 0);
		opacity:1;
    }
}
@keyframes sx{
	0%{
		transform:scale(4);
		opacity:1;
	}
	20%,60%{
		transform:scale(0.9);
		opacity:1;
	}
	40%,80%{
		transform:scale(1);
		opacity:1;
	}
	100%{
		transform:scale(1);
		opacity:1;
		}
}
@-webkit-keyframes sx{
	0%{
		-webkit-transform:scale(4);
		opacity:1;
	}
	20%,60%{
		-webkit-transform:scale(0.9);
		opacity:1;
	}
	40%,80%{
		-webkit-transform:scale(1);
		opacity:1;
	}
	100%{
		-webkit-transform:scale(1);
		opacity:1;
		}
}
@-webkit-keyframes fadeOut{
  0% {
	  opacity:1;
  }
  100%{
	  opacity:0;
  }
	}
@keyframes fadeOut{
  0% {
	  opacity:1;
  }
  100%{
	  opacity:0;
  }
	}
@-webkit-keyframes fadeIn{
  0% {
	  opacity:0;
  }
  100%{
	  opacity:1;
  }
}
@keyframes fadeIn{
  0% {
	  opacity:0;
  }
  100%{
	  opacity:1;
  }
}
@-webkit-keyframes fadeInTop{
  0% {
	  opacity:0;
	  -webkit-transform:translate3d(0px , 0px , 0);
  }
  100%{
	  opacity:1;
	  -webkit-transform:translate3d(0px , 10px , 0);
  }
}
@keyframes fadeInTop{
  0% {
	  opacity:0;
	  transform:translate3d(0px , 0px , 0);
  }
  100%{
	  opacity:1;
	  transform:translate3d(0px , 10px , 0);
  }
}
@-webkit-keyframes fadeInBom{
  0% {
	  opacity:0;
	  -webkit-transform:translate3d(0px , 10px , 0);
  }
  100%{
	  opacity:1;
	  -webkit-transform:translate3d(0px , 0 , 0);
  }
}
@keyframes fadeInBom{
  0% {
	  opacity:0;
	  transform:translate3d(0px , 10px , 0);
  }
  100%{
	  opacity:1;
	  transform:translate3d(0px , 0 , 0);
  }
}
@-webkit-keyframes fadeInBottom{
  0% {
	  opacity:0;
	  -webkit-transform:translate3d(0 , 0, 0);
  }
  50% {
	  opacity:1;
	  }
  100%{
	  opacity:1;
	  -webkit-transform:translate3d(0 , -15px, 0);
  }
}
@keyframes fadeInBottom{
  0% {
	  opacity:0;
	  transform:translate3d(0 , 0, 0);
  }
  50%{
	  opacity:1;
  }
  100%{
	  transform:translate3d(0 , -15px, 0);
  }
}
@-webkit-keyframes scaleXin {
  0%,100% {
	  opacity:1;
	  -webkit-transform:scale(1);
  }
  50%{
	  opacity:1;
	  -webkit-transform:scale(0.8);
  }
}
@keyframes scaleXin {
   0%,100% {
	  opacity:1;
	  transform:scale(1);
  }
  50%{
	  opacity:1;
	  transform:scale(0.8);
  }
}
@-webkit-keyframes snow{
	0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100px, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
	100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
    }
	}
@keyframes snow{
	0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }
    50% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
	100% {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }
	}
@-webkit-keyframes t_to_b{
	0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
    }
	100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -10px, 0);
    }
	}
@keyframes t_to_b{
	0% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
	100% {
        opacity: 1;
        transform: translate3d(0, -10px, 0);
    }
	}
