
@-webkit-keyframes fade {
	from { opacity:0;}
	to { opacity: 1; }
}
@keyframes fade {
	from {opacity:0; }
	to { opacity: 1; }
}
/* animation delay classes */
.fade{
	-webkit-animation: fade .5s ease both;
	animation: fade .5s ease both;
}

.delay500 {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.delay1000 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.delay1500 {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.delay2000 {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.delay2500 {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
