@charset:'utf-8';
*{margin:0;padding:0}
.page,body{width:100%;}
.page,.page ul,.car{position:absolute;}
body{background:#fff;overflow:hidden;font-size:14px;font-family: 'Microsoft Yahei'}
.hide{display:none}
.page{height:100%;min-widht:320px;text-align: center;}
.page-current{z-index:1}
.wrap img{position:absolute;left:0;z-index:99}
.page-1-1 .logo{width:30%;left:35%;top:10%;}
.page-1-1 .car{width:30%;top:50%;left:35%}
.page-1-1 .title{width:100%;left:0;top:38%}
.page .car2{bottom:4%;width:100%;left:0}
.music{position:absolute;left:86%;width:7%;top:1%;z-index:200}
.page-2-1 .p-2{width:86%;left:7%;top:5%}
.page-2-1 .w-t-2{width:20%;left:70%;top:36%;z-index:100;}
.page-2-1 .w-2-1{width:45%;left:23%;top:58%;z-index:100;}
.page-2-1 .w-2-2{width:12%;left:8%;top:58%;z-index:100;}

.page-3-1 .p-3{width:86%;left:7%;top:5%}
.page-3-1 .w-t-3{width:20%;left:10%;top:7%;z-index:100;}
.page-3-1 .w-3-1{width:60%;left:10%;top:47%;z-index:100;}
.page-3-1 .w-3-2{width:60%;left:10%;top:59%;z-index:100;}
.page-3-1 .w-3-3{width:60%;left:10%;top:72%;z-index:100;}

.page-4-1 .p-4{width:86%;left:7%;top:37%;}
.page-4-1 .w-t-4{height:30%;left:72%;top:7%;z-index:100;}
.page-4-1 .w-4-1{height:30%;left:53%;top:7%;z-index:100;}
.page-4-1 .w-4-2{height:30%;left:26%;top:7%;z-index:100;}
.page-4-1 .w-4-3{height:30%;left:7%;top:7%;z-index:100;}

.page-5-1 .p-5{width:86%;left:7%;top:5%}
.page-5-1 .w-t-5{height:26%;left:70%;top:7%;z-index:100;}
.page-5-1 .w-5-1{height:44%;left:10%;top:7%;z-index:100;}

.page-6-1 .p-6{width:86%;left:7%;top:5%}
.page-6-1 .w-t-6{height:30%;left:68%;top:35%;z-index:100;}
.page-6-1 .w-6-1{height:24%;left:43%;top:57%;z-index:100;}
.page-6-1 .w-6-2{height:24%;left:24%;top:57%;z-index:100;}
.page-6-1 .w-6-3{height:24%;left:10%;top:57%;z-index:100;}
.page-7-1 .wrap{width:100%;height:100%;background:url(../image/p_7.jpg) no-repeat;background-size:100% 100%;}
.page-7-1 .w-t-7{width:100%;top:0}
.page-7-1 .p-7-peo{width:100%;top:36%}
.page-7-1 ul{list-style:none;width:70%;left:15%;top:72%;z-index:102}
.page-7-1 li{width:100%;margin-bottom:1rem;}
.page-7-1 li input,
.page-7-1 li a{
	display:block;
	width:100%;
	height:2.4rem;
	line-height: 2.4rem;
	font-size:1.2rem;
	border-radius:1.2rem;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border:1px solid #fff;
	-webkit-tap-hightlight-color:transparent;
}
.page-7-1 li input{background:rgba(255,255,255,.6);color:#000;}
.page-7-1 li input::-webkit-input-placeholder {
	color:#000
}
.page-7-1 li a{background:rgba(255,255,255,1);color:#333}

@media screen and (max-width:414px){
	html,body{font-size:100%;}
}
@media screen and (max-width:375px){
	html,body{font-size:90%;}
}
@media screen and (device-width:320px){
	html,body{font-size:80%;}
}
@media screen and (max-height:520px){
	html,body{font-size:80%;}
	.page-2-1 .w-t-2{top:39%;}
}
@-webkit-keyframes fade {
	from { opacity:0;}
	20%{ opacity: .3;}
	50%{ opacity: .5;}
	to { opacity: 1; }
}
@keyframes fade {
	from { opacity:0;}
	20%{ opacity: .3;}
	50%{ opacity: .5;}
	to { opacity: 1; }
}
/* animation delay classes */
.fade{
	-webkit-animation: fade 1s ease both;
	animation: fade 1s ease both;
}

.delay5 {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.delay7{
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
}
.delay10{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.delay15 {
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
.delay20 {
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s;
}
.delay25 {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.delay35 {
	-webkit-animation-delay: 3.5s;
	animation-delay: 3.5s;
}