@charset="utf-8";
.img,.page,body{width:100%}
*{font-family:'Microsoft Yahei'}
.page,.page .wrap,body{margin:0;padding:0}
.img,.page,.page ul,.pub-passdown{position:absolute}
body{overflow:hidden;font-size:15px}
body{background:#fff;}

/*lazyloader*/
.loading_overlay{position:absolute;top:0;left:0;z-index:667000;width:100%;height:100%;-webkit-transition:opacity 1s;transition:opacity 1s}
.lodingicon{top:26%}
.lodingicon,.lodingslogan{position:absolute;left:35%;width:30%}
.lodingslogan{top:43%}
.lodingfont{position:absolute;bottom:3%;left:20%;width:60%}
@media screen and (max-device-height:480px){.lodingicon{position:absolute;top:22%;left:35%;width:30%}}
/* end lazyloader */

.hide{display:none}
.wrapper{width:100%;height:100%;background:#fff;}
.page{height:100%;max-width:414px;min-width:320px;text-align:center;font-size:100px;top:0;}
.page .wrap{margin:0 auto;width:100%;height:100%;}
.page-1-1 .wrap{background:url(../image/1.gif) no-repeat center center;}
.page-2-1 .wrap{background:url(../image/2.gif) no-repeat center center;}
.page-3-1 .wrap{background:url(../image/3.gif) no-repeat center center;}
.page-4-1 .wrap{background:url(../image/4.gif) no-repeat center center;}
.page-5-1 .wrap{background:url(../image/5.gif) no-repeat center center;}
.page-6-1 .wrap{background:url(../image/6.gif) no-repeat center center;}
.page .wrap>.img{display:block;height:100%;width:auto;z-index:99}
.page-current{z-index:1}
.pub-passdown{
	-webkit-animation-timing-function:ease;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	bottom:4%;
	left:47%;
	z-index:99;
	width:6%;
	-webkit-animation-name:passdown
}
.pub-passdown >img{vertical-align:bottom;width:100%;}
@-webkit-keyframes passdown{
	0%{bottom:3%;opacity:.3}
	50%{bottom:1%;opacity:.8}
	100%{bottom:3%;opacity:1}
}



