 @charset "utf-8";
#container {background-color: #f5f5f5;}
#container .w{width: 1226px; margin: 0 auto;}
.w.mypc{padding-bottom: 40px;}
.m-breadcrumb{height: 40px;line-height: 40px;color: #616161;}
.mypc .subleft{width: 234px; float:left; background-color: #fff;}
.mypc .mainright{width: 978px; float: right;background-color: #fff;}
.mainright .pbox{padding:48px;}
.mypc .h2{font-size: 30px; color: #757575; line-height: 44px;}
.mypc .subleft .title{font-size: 16px;line-height: 60px;height: 60px; color: #fff; font-weight: bold; text-align: center; background-color: #333333;}
.mypc .subbox{padding:15px 0 30px 0;}
.mypc .subbox dt{font-size: 16px;font-weight: bold; color: #333333;padding-left: 47px; line-height: 52px;padding-top: 10px;position:relative;}
.mypc .subbox dt span{display: block;position: absolute;left:16px;top:24px;background-image:url("../images/icon.png");background-repeat: no-repeat;}
.mypc .subbox dt.centre span{width:24px;height:24px;background-position:0px 0px;}
.mypc .subbox dt.privilege span{width:24px;height:24px;background-position:-29px 0px;}
.mypc .subbox dt.admin span{width:22px;height:22px;background-position:-61px 0px;}
.mypc .subbox dd{line-height: 36px;padding-left: 47px;}
.mypc .subbox dd a{font-size:14px;color:#616161;}
.mypc .subbox dd a.cur{color: #df0615;}
.mypc .subbox dd a:hover{text-decoration: none;}
.mypc .status-bar{}
.mypc .status-bar a{display: block;float:left; font-size: 16px;line-height: 17px;margin:30px 0; color: #616161;padding:0px 25px;text-align: center; border-left: 1px solid #616161;}
.mypc .status-bar a.first{padding-left: 0px;border-left: 0px;}
.mypc .status-bar a:hover,.mypc .status-bar a.s-b-cur{text-decoration: none; color: #df0615;}
.mypc .carlist{width: 882px;overflow: hidden;*zoom:1;}
.mypc .carlist ul{ width: 902px;}
.mypc .carlist li{width: 429px; height: 190px;border:1px solid #b0b0b0;float: left;margin-right:19px;margin-bottom: 19px; }
.carlist .carinfor{position: relative;padding:28px 10px 28px 138px;min-height:82px;border-bottom:1px solid #e0e0e0;}
.carlist .carinfor p{color:#333333;font-size: 14px;line-height:26px;}
.carlist .carinfor p b{font-size: 18px;font-weight: normal;padding-right:8px;}
.carlist .carinfor .carimg{position: absolute;top:28px;left:28px;}
.carlist .carinfor .price{font-size: 18px;color: #df0615;}
.carlist .carinfor .zxcsign{margin-left: 5px;}
.carlist .btnbox{text-align: center;line-height: 50px;}
.carlist .btnbox a{margin:0 10px;}
.mypc .carlist.m-history ul{width:872px;padding-left:30px;}
.mypc .carlist.m-history li{width: 412px;}
.goods-content{position: relative;}
.p-line, .p-line-red {position: absolute;left: 9px;top:35px;width: 2px;height: 100%;background: #d7d7d7;  }
.p-line-red {height: 0;_font-size: 0;background: #f36863;}
.m-history .ht{line-height: 77px; position: relative;padding-left:32px;}
.m-history .week{font-size: 16px;color: #df0615;}
.m-history .time{font-size: 12px;color: #df0615;padding:0 20px 0 5px;}
.m-history .del-all{color: #616161;cursor: pointer;}
.m-history .line-cur{position: absolute;top:25px;*top:0px;left:0px;}

.mypc .h2 a.h2a{color:#616161;}
.mypc .h2 a.h2a.select{color:#df0615;}
.mypc .h2 a:hover{text-decoration:none;cursor:pointer;}
.mypc .h2 .vline{display:inline-block;margin:0 30px;font-style:normal;}
.col61{color:#616161;}
.colred{color:#df0615;}
.col999{color:#999999;}
.myrightul{margin-top:32px;}
.myrightul li{height:208px;width:880px;border:1px solid #b0b0b0;margin-top:20px;color:#333333;}
.myrightul li .titdiv{padding:25px 30px 14px 29px;overflow:hidden;}
.myrightul li .rtitle{line-height:28px;font-size:18px;color:#df0615;}
.myrightul li .rtitle.col999{color:#999999;}
.myrightul li .title-btn{margin:0;}
.mycarlt{padding:30px 0 30px 29px;overflow:hidden;border-top:1px solid #e0e0e0;}
.mycarlt .car-pic{float:left;display:block;}
.mycarlt .car-info{float:left;margin-left:30px;width:285px;font-size:14px;}
.mycarlt .car-info dt{line-height:26px;height:26px;}
.mycarlt.mytry .car-info dt{line-height:32px;height:32px;margin-top:5px;}
.mycarlt .car-info dd{line-height:28px;height:28px;float:left;}
.mycarlt .car-info dd .red-hui{display:inline-block;min-width:35px;font-style:normal;height:18px;border:1px solid #c7132e;border-left:none;background-color:#df0615;margin-top:4px;color:#fff;font-size:14px;line-height:18px;padding:0 4px;}
.mycarlt .car-info dd .arrl-red{display:inline-block;width:0;height:0;border-width:10px;border-style:solid;border-color:transparent #df0615 transparent transparent;margin-top:4px;}
.mycarlt .car-addr{float:left;padding:10px 0 0 15px;font-size:14px;}
.mycarlt .car-addr .time{line-height:28px;margin-bottom:4px;}
.mycarlt .car-addr .address{line-height:28px;}

.yydlist{width:882px;overflow:hidden;}
.listli{height:278px;border:1px solid #b0b0b0;margin-bottom:20px;}
.listli .info{padding:20px 0 23px 30px;overflow:hidden;}
.listli .info .retop{line-height:38px;font-size:18px;}
.listli .info .grtop{line-height:28px;color:#616161;font-size:14px;float:left;}
.listli .info .ord-info{overflow:hidden;}
.listli .info .ord-info span{display:block;float:left;line-height:14px;margin:7px 0;padding:0 25px;text-align:center;border-left:1px solid #616161;}
.listli .info .ord-info span.first{border-left:none;padding-left:0;}
.listli .info .ord-price{float:right;font-size:14px;color:#616161;margin:20px 30px 0 0;}
.listli .info .ord-price .price{font-style:normal;color:#df0615;font-size:24px;}
.listli .yyd-carin{border-top:1px solid #e0e0e0;height:140px;}
.listli .yyd-carin .btn{margin:30px 30px 0 0;}
.listli .yyd-carin .mycarlt{border-top:none;}
.listli .yyd-carin .btn .btn1{display:block;margin-bottom:10px;}
.listli .yyd-carin .btn .btn2{display:block;}
.listli .yyd-carin .btn .btntext{min-width:88px;padding:0 15px;display:block;text-align:center;height:30px;line-height:30px;font-size:14px;color:#df0615;margin-top:3px;}
.col333{color:#333333;}


/*这里是个人中心首页样式*/
.pbox .user-info .info-trow{width:100%;height:162px;padding-bottom:50px;border-bottom:1px solid #e0e0e0}
.user-info .info-lcol,.user-info .info-rcol{float:left;width:440px;height:162px;}
.user-info .info-lcol .u-pic{float:left;width:160px;height:160px;}
.user-info .info-lcol .u-pic .user-pic{width:100%;}
.user-info .info-lcol .info-m{float:left;width:240px;padding:40px 20px;}
.user-info .info-lcol .info-m .user-name{font-size:24px;color: #616161;}
.user-info .info-lcol .info-m .user-tel{font-size:14px}
.user-info .info-lcol .info-m .changeinfo{font-size:14px;color:#df0615;text-decoration: none;line-height: 30px;}
.user-info .info-lcol .info-m .changeinfo:hover{border-bottom:1px solid #df0615;}
.user-info .info-rcol{border-left:1px solid #e0e0e0;}
.user-info .info-brow{width:100%;height:120px;padding:25px 0;border-bottom: 1px solid #E0E0E0;}
.info-brow>ul>li,.user-counts >ul >li{float:left;}
.user-info .count-item{float:left;text-align:center;width:100px;height:120px;padding:0 20px;line-height:30px;}
.count-item a{	color:#616161;font-size:14px;}
/*这里是图标区域*/
.user-info .count-item .count-icon{display:block;width:49px;height:49px;margin:4px auto;background-image: url(../images/icon.png);	}
.count-icon.icon-coupon{background-position:1px -96px;}
.count-icon.icon-points{background-position: -49px -96px;}
.count-icon.icon-collect{background-position: -98px -96px;}
.count-icon.icon-buy{background-position: -148px -96px;}
.count-icon.icon-drive{background-position: -198px -96px;}
.count-icon.icon-order{background-position: -248px -96px;}
/*个人中心- 猜你喜欢列表*/
.guess-fav{width:100%;overflow:hidden;height:auto;margin-top:20px}
.guess-fav h2{height:55px;line-height:55px;text-align: left;}
.guess-fav ul{width:903px;overflow: hidden}
.guess-fav li{float:left;width:301px;height:300px;padding:5px 0;}
.guess-fav .fav-img{width:278px;height:208px;text-align:left;border:1px solid #e0e0e0}
.guess-fav .fav-item{line-height:34px;}
.guess-fav .fav-item .fav-name{margin-top:10px;}
.guess-fav .fav-item .fav-name a{color:#333333}
.guess-fav .fav-item .fav-name .car-type{font-size:18px;}
.guess-fav .fav-item .fav-name .car-info{font-size:14px;}
.guess-fav .fav-item .fav-price{font-size:14px;color:#616161}
.guess-fav .fav-item .fav-price strong{font-weight:normal;color:#df0615;font-size:18px;}
.guess-fav .guess-more{width:100%;height:40px;background-color:#f5f5f5;line-height:40px;text-align: center;}
.guess-fav .guess-more .btn-more{color:#035cc0;}

































