@charset:'utf-8';

*{
	margin:0;padding:0;
}
html{font-size:18px;font-family:'Microsoft Yahei'}
a{text-decoration:none;text-align:center;}
img,input{-webkit-tap-highlight-color:transparent;outline:0;border:none}
ol,ul{margin:0;padding:0;list-style:none}

.coupon-mmc{
	background: #fbdfdf;
	width:100%;
	max-width:414px;
	margin:0 auto;
}
.coupon-mmc .changeTop{
	position:relative;
	width:100%;
	max-width:414px;
	overflow:hidden;
}
.pic-top{display:block;width:100}

/*coupon-res*/

.coupon-res{position:relative;}
.coupon-res .activecon{
	position:absolute;
	top:0;
	width:100%;
	text-align:center;
}
.coupon-res .activecon ul.inputcon{
	width:75%;
	margin:0 auto;
	list-style:none;
}
.coupon-res .activecon ul.inputcon li{
	position: relative;
	width:100%;
	overflow:hidden;
}
.coupon-res .activecon ul.inputcon li img{width:100%;}
.activecon ul.inputcon li input{
	background:none;
	box-sizing:border-box;
	width:100%;
	height:1.8rem;
	line-height: 1.8rem;
	text-align: left;
	margin-bottom:0.4rem;
	border-radius:.4rem;
	border:1px solid #fff;
	color:#fff;
	padding-left:.5rem;
	font-size:.75rem;
	font-family:'Microsoft Yahei';
}
.activecon ul.inputcon li input::-webkit-input-placeholder{
	color:#fff;
}
.inputcon li .reset{
	position:absolute;
	right:0;
	top:0;
	display:block;
	width:4.5rem;
	text-align:center;
	font-size:.7rem;
	line-height: 1.8rem;
	background:#c8a974;
	border-radius: 0px .4rem .4rem 0px;
	white-space:nowrap;
}
.inputcon li .btn-go,
.inputcon li .btn-get{
	display:block;
	width:100%;
	border-radius:.5rem;
	background:#c8a974;
	color:#000;
	font-weight:700;
	height:1.8rem;
	line-height: 1.8rem;
	text-decoration: none;
	font-family: "Microsoft Yahei";
	font-size:1rem;

}
.activecon .slogan{
	width:100%;
	text-align: center;
	color:rgba(255,255,255,0.5);
	font-size:.5rem;
	line-height:1rem;
	margin-top:.5rem;
}

.activecon .slogan .sub-slogan::before,
.activecon .slogan .sub-slogan::after{
	content:'';
	display:inline-block;
	width:15%;
	vertical-align: middle;
	border-top:1px solid rgba(255,255,255,.5);
}

/*结果页面*/
.activecon .rescon{
	width:100%;
	line-height: 1rem;
	font-size:.75rem;
	color:#fff;
}
.activecon .rescon h3{color:#c8a974;font-size:.75rem;}
.activecon .rescon .erwm{width:30%;margin:.5rem auto;}
.activecon .rescon .showdetail{
    display: block;
    font-size: .75rem;
    color: #c8a974;
    width: 6rem;
    margin: 0 auto;
    border-bottom: 1px solid #c8a974;
}

/*弹层*/
.shadow{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,.8);
	z-index:999;
}
.shadow .detailcon{
	position:absolute;
	top:10%;
	left:5%;
	width:90%;
	height:auto;
	border:2px solid #c8a974;
	background:#fff;
	box-sizing:border-box;
	border-radius:1rem;
}
.shadow .detailcon img,
.shadow .error img{width:100%;padding:0;margin:0}
.shadow .detailcon .btn-knew{
	position:absolute;
	left:30%;
	display:block;
	width:40%;
	height:1.5rem;
	line-height: 1.5rem;
	background:#c8a974;
	color:#fff;
	font-size:.75rem;
	border-radius:.5rem;
	bottom:3%;

}
.shadow .error{
	position: absolute;
	width:50%;
	left:25%;
	top:40%;
}

.shadow .error p{color:#c32025;font-size:1rem;position:absolute;width:100%;left:0;top:0;text-align: center;padding:1rem 0;}
.shadow .error .close{position:absolute;display:block;width:1.2rem;height:1.2rem;font-size:1.2rem;line-height: 1.2rem;color:rgba(255,255,255,.5);right:0;top:0}
/* 列表部分 */
.coupon-mmc .lists{
	width:93.75%;
	margin:0 auto;
}
.coupon-mmc .friends,
.coupon-mmc .rule{
	width:100%;
	margin-bottom:.45rem;
}
.coupon-mmc .friends .friend-list .friend-item{
	border-bottom:1px dashed #c32026;
	min-height:2.8rem;
	padding:.15rem 0;
	position:relative;
    display: -webkit-box;
}
.coupon-mmc .friends .friend-item .peo {
    display: block;
    width: 11%;
    margin: .2rem .15rem .15rem 0;
}
.coupon-mmc .friends .friend-item .peo img{
	width:100%;
	height:auto;
    border-radius: 50%;
}
.coupon-mmc .friends .friend-item .money{
	width:17.5%;
	max-width:2.8rem;
	min-height:2.2rem;
	position: absolute;
    right: 2%;
	
}
.coupon-mmc .friends .friend-item .money b{
	display: block;
	width:2.8rem;
	height:2.2rem;
	margin:.3rem auto;
    background: url(image/bg_yuan_default.png) no-repeat;
    background-size:100%;
	color:#fff;
	font-size:1rem;
	line-height: 2.2rem;
	text-align: center;
}

.coupon-mmc .friends .friend-item .item-inner{
	width:66%;
	min-height:2.8rem;
	margin: 0 3% 1% 1%;	
}
.coupon-mmc .friends .friend-item.border-none{
	border:none;
}
.coupon-mmc .friends .friend-item .item-inner p{
	padding-top:.15rem;
	min-height:1rem;
	line-height: 1rem;
	font-size:.65rem;
	 -webkit-box-flex: 1;
}
.coupon-mmc .friends .friend-item .item-inner .name{
   color:#c32026;
	font-weight:bold;
	font-size:.75rem;
}
.item-inner .time{
	float:right;
	font-size:.6rem;
}
.item-inner .item-w{
	text-align: left;
	float:left;
}
.coupon-mmc .lists .sub-title{
    line-height: 1.8rem;
    background: url(image/line_default.png) no-repeat;
    background-size: 100% auto;
    background-position: 0px;
    font-size: .8rem;
    color: #c32026;
    text-align: center;
    font-weight: 300;
    font-family: 'Microsoft Yahei';
}
.coupon-mmc .lists .rule ul li{
	font-size:.5rem;
	color:#3d3d3d;
	line-height:1rem;
}
.coupon-mmc .img{
	width:100%;
}

/*以上是裂变样式*/

/*以下是表单页面*/
.coupon-form.coupon-mmc{
	background:#C42027;
}