@charset 'utf-8';
.normal-page{background:#f0f1f2;font-family: '微软雅黑';padding-bottom: 120px;}
.normal-page .page-top{width:100%;height:380px;background:url(../images/pic_shandai.jpg) no-repeat center 100%;}
/*切换*/
.normal-page .page-tab{background: #fff;width:100%;height:60px;text-align: center;}
.normal-page .page-tab li{display:inline-block;*display:inline;zoom:1;_display:inline;_zoom:1;padding-right:30px !important;}
.normal-page .page-tab li a{font-size:14px;line-height: 59px;padding:0 20px;color:#939a9f;text-decoration: none;font-family: '微软雅黑';}
.normal-page .page-tab li a:hover,.page-tab li.active a,.page-tab li a.active,.page-tab li:hover a{color:#2f2f39;}
.normal-page .page-tab .border{width:100%;height:1px;background:#E6E6E6;position:relative;text-align:center;}
.normal-page .page-tab .border span{display:block;height:2px;position:absolute;bottom:0;background:#efbe2d;}
/*内容区域*/
.normal-page .page-content{width:1200px;margin:0 auto;position:relative;text-align:center;overflow: hidden;}
.normal-page h2{color:#2f2f39;font-family: '微软雅黑';font-size: 36px;line-height: 70px;font-weight: normal;}
.normal-page h2.light{color:#60606c;}
.normal-page h2.light{color:#60606c;}
.normal-page p{color:#60606c;line-height:36px;font-size: 16px;margin:10px auto;}
.normal-page .brown{color:#954c13}
.normal-page .con-item{position:relative;margin:115px auto 0 auto;}
.normal-page .page-content .ite-logo{width:123px;height:123px;left:50%;margin-left:-61.5px;position:absolute;top:-62px;border:none;outline: none;display:block;}
.normal-page .page-content .ite-content{padding:64px 40px;background:#fff;}
.normal-page .page-content .ite-bottom{position: relative;width:100%;text-align:center;background:#ccd0d3;height:230px;}
.normal-page .page-content .ite-bottom ul{display:block;width:408px;position:absolute;left:50%;margin-left:-204px;}
.normal-page .page-content .ite-bottom li{display:block;float:left;width:100px;margin:45px 52px;}
.normal-page .page-content .ite-bottom li a{margin:10px 0;color:#fff;font-size:14px;display:block;width:98px;height:32px;line-height: 32px;border-radius: 3px;background:none;border:1px solid #fff;}
.normal-page .page-content .ite-bottom li a:hover{text-decoration: none;}
.normal-page .pic-inner{margin:10px auto;position:relative;}
.normal-page .ite-content ul{overflow:hidden;}
.normal-page .ite-content li{display:block;float:left;width:150px;height:auto;margin:0 5px;}
.normal-page .ite-content li a:hover{text-decoration: none;}
/*内容区域地步*/
.normal-page .con-item.width590 .ite-content{height:800px;}
.normal-page .con-item.width590{width:590px;margin:115px 20px 0px 0;float:left;}
.normal-page .con-item.width590 h2{font-size:30px;line-height:40px;margin-bottom:10px;}
.normal-page .con-item.width590 h2 span{font-size:18px;color:#60606c}
.normal-page .con-item.width590 .pic-inner{margin:20px auto;}
.normal-page .con-item.width590 .pic-inner .icon-play{cursor:pointer;position:absolute;display:block;width:54px;height:54px;left:50%;margin-left:-27px;top:50%;margin-top:-27px;}
.normal-page .con-item.width590 p{text-align: left;font-size:14px;line-height: 30px;}
.normal-page .con-item.width590.right{margin-right:0;}


/*masklayer*/
.masklayer{
	position:fixed;
	width:100%;
	height:100%;
	top:0;left:0;
	display:none;
	background:url(../images/bg_mask.png);
}
.masklayer .videocon{
	position:absolute;
	width:962px;
	height:660px;
	left:50%;
	margin-left:-481px;
	top:50%;
	margin-top:-330px;
	display:none;
}
.masklayer .videocon .video{
	width:962px;
	height:540px;
	overflow:hidden;
}
.masklayer .videocon ul{
	width:100%;
	height:120px;
	background:#fff;
	text-align:center;
}
.masklayer .videocon ul li{
	display:inline;
	line-height:120px;
	position:relative;
}
.masklayer .videocon ul li.focus img.poster-sm{
	border:2px solid #fabe00;
}
.masklayer .icon-close{
	position: absolute;
	display:block;width:52px;
	height:52px;
	right:-26px;
	top:-26px;
	z-index:999;
}
.masklayer .videocon ul li .icon-play{
	cursor:pointer;
	position:absolute;
	display:block;
	width:54px;
	height:54px;
	left:50%;
	margin-left:-27px;
	top:50%;
	margin-top:-27px;
	background:url(../images/icon_play.png) no-repeat;
}
.masklayer .videocon ul li .icon-play:hover{
	background:url(../images/icon_hover.png) no-repeat;
}
.masklayer .videocon ul li.focus .icon-play{
	display:none;
}



