html, body { margin: 0; padding: 0; width: 100%; height: 100%; }
body { background: url(../images/page_bg.jpg) no-repeat; }
.page1 { width: 100%; height: 100%; background: url(../images/page_img1.png) no-repeat; display: none; }
.page2 { width: 100%; height: 100%; background: url(../images/page_img2.png) no-repeat; }
.page2 .phone { width: 460px; height: 60px; position: absolute; left: 0; right: 0; margin: auto; margin-top: 462px; border: none; background: none; font-size: 30px; text-align: center; }
.page2 .submit_btn { width: 400px; height: 110px; position: absolute; left: 0; right: 0; margin: auto; margin-top: 701px; }
.page3 { width: 100%; height: 100%; background: url(../images/page_img3.png) no-repeat; display: none; }
.page3 div { position: absolute; left: 0; right: 0; margin: auto; }
.page3 .tips { width: 400px; height: 110px; margin-top: 411px; text-align: center; font-size: 22px; display: none; -webkit-animation-delay: .3s; }
.page3 .download_btn { width: 400px; height: 110px; margin-top: 701px; }
.page3 .share_btn { width: 400px; height: 110px; margin-top: 831px; }
.page3 .title { margin-top: 285px; background: url(../images/page_3_title.png) no-repeat top center; width: 100%; height: 113px; display: none; -webkit-animation-delay: .2s; }
.page3 .light { margin-top: 62px; background: url(../images/page_3_light.png) no-repeat top center; width: 100%; height: 659px; display: none; -webkit-animation-direction: reverse; -webkit-animation-iteration-count: infinite; -webkit-animation-duration: 4s; -webkit-animation-name: dotflash; }
.page3 .box_top { margin-top: 130px; background: url(../images/page_3_box_top.png) no-repeat top center; width: 100%; height: 136px; display: none; -webkit-animation-duration: 1s; }
.page4 { width: 100%; height: 100%; background: url(../images/page_img4.png) no-repeat; display: none; }
.page4 .ok_btn { width: 400px; height: 110px; position: absolute; left: 0; right: 0; margin: auto; margin-top: 701px; }
@-webkit-keyframes dotflash {
	from, 50%, to { opacity: 1; }
	25%, 75% { opacity: 0.2; }
}