* {
	margin: 0;
	padding: 0
}

body,html {
	height: 100%;
	background: #000;
	font-size: 14px;
	font-family: 'Microsoft Yahei'
}

a,div,img,input {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	border: none;
	text-decoration: none
}

ol,ul {
	list-style: none
}

.ucarair {
	width: 100%;
	height: 100%;
	background: url(../image/bg_ucar.jpg) no-repeat;
	background-size: 100%
}

.ucarair img {
	vertical-align: top;
	display: block;
	margin: 0 auto;
	width: auto
}

.ucarair .pic-logo {
	height: 20%
}

.ucarair .pic-none {
	height: 34%
}

.ucarair .pic-words {
	height: 25%
}

.inputcon {
	height: 20%;
	width: 80%;
	margin-left: 10%
}

.inputcon li a,.inputcon li input {
	display: block;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	border-radius: .2rem;
	box-sizing: border-box;
	word-spacing: .1rem;
	letter-spacing: .1rem;
}

.inputcon li input {
	background: #fff;
	color: #666
}

.inputcon li a {
	background: #c8a974;
	color: #fff;
	font-size: 1.2rem;
	margin-top: 1rem;
	font-weight: 500
}

.shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.6);
	z-index: 9;
	display: none
}

.alertcon {
	display: none;
	position: absolute;
	top: 38%;
	width: 80%;
	left: 10%;
	padding: 1.5rem 0;
	z-index: 11;
	background: #fff;
	box-sizing: border-box;
	min-height: 20%
}

.alertcon p {
	line-height: 3rem;
	color: #c8a974;
	width: 100%;
	text-align: center;
	font-size: 1.2rem
}

.alertcon .close-btn {
	position: absolute;
	top: 0;
	right: 0
}

.alertcon .close-btn:before {
	content: '×';
	color: #c8a974;
	font-size: 2rem;
	display: block;
	width: 2rem;
	line-height: 2rem;
	height: 2rem
}