body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    list-style:none;
}
html {
    height: 100%;
	overflow:hidden;
}
body {
	position:relative;
    margin: 0;
    font-family:"Microsoft Yahei";
	width: 640px;
	height: 1029px;
	overflow:hidden;
	background-color:#FFF;
	background-size:100% 100%;
}
img{position:absolute;}
#horizontal { background: url("../images/phone.png") no-repeat center center #000; display: none; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 100000; }
#newloading { width: 100%; height: 100%; z-index: 99999; left: 0; top: 0; position: absolute;}
.loading { height: 100%; position: relative; background-color:#FFF; background-size: 100% 100%; top: 0; margin:0 auto; }
.loading .loading-s{
	position:absolute;
	top:20%;
	left:140px;
	width:125px;
	height:160px;
}
.loading-w{display:block;width:120px;position:absolute;top:400px;left:138px;
	animation:fadeInSlow 3s linear 0s backwards infinite;
	-webkit-animation:fadeInSlow 3s linear 0s backwards infinite; 
}

/* 以上为预加载部分 */

/* 漫画展示部分 */
.hide{
	display:none;
}
.slide-current{
	z-index:1;
}
.slide{
	position:absolute;
	width:100%;
	height:100%;
}
.slide .wrap{
	width:640px;
	height:1029px;
    position: absolute;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    top: 0;
}
.arrow{position:fixed;-webkit-animation:passdown ease .8s infinite;bottom:4%;left:47.5%;z-index:99;width:5%}
.fr{position:absolute;right:-26px;}
.fl{position:absolute;left:-26px;}

.slide.title img{
	width:68%;
	left:17%;
	top:20%;
}
.slide-1 img{
	width:68%;
	left:17%;
	top:10%;
}

.slide .wrap ul.steps{
	width:100%;
	height:100%;
	padding-top:10%;
	box-sizing:border-box;
}
.slide .wrap .steps li{
	height:30%;
	width:100%;
	box-sizing:border-box;
	position:relative;
}
.slide .wrap .steps li:last-of-type{
	background:none;
}


.slide .wrap div{position:absolute;}
/* 首页动画部分*/
.st{
	top:190px;
	animation:fadeInLeft .3s linear 0s backwards;
	-webkit-animation:fadeInLeft .3s linear 0s backwards;
}
.str{
	top:351px;
	animation:fadeInRight .3s linear .3s backwards;
	-webkit-animation:fadeInRight .3s linear .3s backwards;
	}
.stw{
	top:225px;
	left:75px;
	animation:fadeIn .3s linear .6s backwards;
	-webkit-animation:fadeIn .3s linear .6s backwards;
}
.strw{
	top:235px;
	right:90px;	
	animation:fadeIn .3s linear .9s backwards;
	-webkit-animation:fadeIn .3s linear .9s backwards;
}
.stb{
	top:653px;
	left:147px;
	animation:fadeIn .3s linear 1.2s backwards;
	-webkit-animation:fadeIn .3s linear 1.2s backwards;
}
/*grid line*/
.bs{
	left:0;
	width:100%;
	bottom:0;
}

/* 专车篇漫画 */


.s1,.bg-s1{
	width:354px;
	height:278px;
	top:0px;
	animation:fadeIn .2s linear 0s backwards;
	-webkit-animation:fadeIn .2s linear 0s backwards;
	/* background: url('../images/bg_s1.gif') no-repeat; */
}
.s1r,.bg-s1r{
	width:286px;
	height:278px;
	top:0px;	
}

.s1-luzui{
	left:-60%;top:68px
	animation:fadeIn .2s linear .2s backwards;
	-webkit-animation:fadeIn .2s linear .2s backwards;
}
.s1-arm{
	left:160px;
	top:126px;
	animation:hdong 1.2s linear .4s backwards;
	-webkit-animation:hdong 1.2s linear .4s backwards;
}
.s1r-arm{
	width:66px;height:46px;left:97px;top:117px;
	animation:hdong0 .6s linear 1.2s both;
	-webkit-animation:hdong0 .6s linear 1.2s both;
}
.s1r-car{
	width:168px;height:162px;right:0;top:115px;
	animation:fadeIn .2s linear .6s backwards;
	-webkit-animation:fadeIn .2s linear .6s backwards;
}
.s1w{
	left:194px;top:35px;
	animation:fadeIn .2s linear 1s backwards;
	-webkit-animation:fadeIn .2s linear 1s backwards;
}
.s1rw{
	left:27px;top:0px;
	animation:fadeIn .2s linear 1.2s backwards;
	-webkit-animation:fadeIn .2s linear 1.2s backwards;
}

.b-s1{
	animation:fadeIn .2s linear .8s backwards;
	-webkit-animation:fadeIn .2s linear .8s backwards;
}
/* 1.5s  */
.s2-sled{
	top:47px;
	animation:fadeIn .2s linear 1.5s backwards;
	-webkit-animation:fadeIn .2s linear 1.5s backwards;
}
.s2r{
	width:357px;
	height:253px;
	top:20px;
	background: url('../images/bg_s2r.gif') no-repeat top right;
	animation:fadeIn .2s linear 1.7s backwards;
	-webkit-animation:fadeIn .2s linear 1.7s backwards;		
}
.s2r-arm{
	top:53px;
	left:181px;
	animation:nao .8s linear 1.7s backwards;
	-webkit-animation:nao .8s linear 1.7s backwards;
}
.s2r-dot{
	top:120px;
	left:24px;
	animation:fadeIn .2s linear 2s backwards;
	-webkit-animation:fadeIn .2s linear 2s backwards;
}
.b-s2{
	animation:fadeIn .2s linear 2.1s backwards;
	-webkit-animation:fadeIn .2s linear 2.1s backwards;
}
/* 2.5秒开始 */
.s3-lu-angry{
	top:53px;
	left:0;
	animation:fadeIn .2s linear 2.5s backwards;
	-webkit-animation:fadeIn .2s linear 2.5s backwards;
}
.s3,.bg-s3{
	width:376px;
	height:248px;
	top:26px;
	animation:fadeIn .2s linear 2.7s backwards;
	-webkit-animation:fadeIn .2s linear 2.7s backwards;
}
.s3-arm{
	top:58px;
	left:133px;
	animation:nao0 .7s linear 3.4s backwards;
	-webkit-animation:nao0 .7s linear 3.4s backwards;
}
.s3w{
	top:61px;
	left:241px;
	animation:fadeIn .2s linear 3.4s backwards;
	-webkit-animation:fadeIn .2s linear 3.4s backwards;
}
.s3rw{
	top:11px;
	right:132px;
	animation:fadeIn .2s linear 3.6s backwards;
	-webkit-animation:fadeIn .2s linear 3.6s backwards;
}
.s3r-ren{
	top:53px;
	right:14px;
	animation:fadeIn .2s linear 3s backwards;
	-webkit-animation:fadeIn .2s linear 3s backwards;
}
.s3r-car{
	top:128px;
	right:0px;
	animation:fadeIn .2s linear 3.2s backwards;
	-webkit-animation:fadeIn .2s linear 3.2s backwards;
}

/* 制服篇-漫画 */


.u1-sled{
	top:122px;
	left:0px;
	animation:fadeIn .2s linear 0s backwards;
	-webkit-animation:fadeIn .2s linear 0s backwards;
}
.bg-u1{
	width:354px;
	height:278px;
	top:0px;
	left:20px;
	animation:fadeIn .2s linear .2s backwards;
	-webkit-animation:fadeIn .2s linear .2s backwards;
}
.u1w{
	left:217px;
	top:10px;
	animation:fadeIn .2s linear .8s backwards;
	-webkit-animation:fadeIn .2s linear .8s backwards;
}
.u1r-car{
	width:168px;height:162px;right:0;top:115px;
	animation:fadeIn .2s linear .6s backwards;
	-webkit-animation:fadeIn .2s linear .6s backwards;
}
.bg-u1r{
	right:15px;
	top:29px;
	animation:fadeIn .2s linear .4s backwards;
	-webkit-animation:fadeIn .2s linear .4s backwards;
}
.b-u1{
	animation:fadeIn .2s linear 1.1s backwards;
	-webkit-animation:fadeIn .2s linear 1.1s backwards;
}
/* 1.5s 开始 */
.u2{
	animation:fadeIn .2s linear 1.5s backwards;
	-webkit-animation:fadeIn .2s linear 1.5s backwards;
}
.u2-sled{
	top:132px;
	left:0px;
	animation:fadeIn .2s linear 1.7s backwards;
	-webkit-animation:fadeIn .2s linear 1.7s backwards;
}
.bg-u2{
	left:53px;
	top:46px;
	animation:jump .7s  linear 2.5s backwards;
	-webkit-animation:jump .7s  linear 2.5s backwards;
}
.bg-u2r{
	right:15px;
	top:49px;
	animation:fadeIn .2s linear 1.9s backwards;
	-webkit-animation:fadeIn .2s linear 1.9s backwards;
}
.u2r-car{
	width:168px;height:162px;right:0;top:108px;
	animation:fadeIn .2s linear 2.1s backwards;
	-webkit-animation:fadeIn .2s linear 2.1s backwards;
}
.u2rw{
	top:59px;
	right:251px;
	animation:fadeIn .2s linear 2.3s backwards;
	-webkit-animation:fadeIn .2s linear 2.3s backwards;
}
.u2-line{
	top:42px;
	left:52px;
	animation:fd .5s linear 2.7s backwards;
	-webkit-animation:fd .25s linear 2.7s backwards;
}
.b-u2{
	animation:fadeIn .2s linear 3s backwards;
	-webkit-animation:fadeIn .2s linear 3s backwards;
}
/* 3.5s开始 */
.u3-sled{
	top:112px;
	left:0px;
	animation:fadeIn .2s linear 3.5s backwards;
	-webkit-animation:fadeIn .2s linear 3.5s backwards;
}
.u3{
	animation:fadeIn .2s linear 3.7s backwards;
	-webkit-animation:fadeIn .2s linear 3.7s backwards;
}
.bg-u3{
	top:60px;
	left:50px;
	animation:fadeIn .2s linear 3.7s backwards;
	-webkit-animation:fadeIn .2s linear 3.7s backwards;
}

.u3w{
	top:31px;
	left:172px;
	animation:fadeIn .2s linear 4.5s backwards;
	-webkit-animation:fadeIn .2s linear 4.5s backwards;
}
.bg-u3r{
	right:30px;
	top:49px;
	animation:fadeIn .2s linear 3.9s backwards;
	-webkit-animation:fadeIn .2s linear 3.9s backwards;
}
.u3r-car{
	width:168px;height:162px;right:0;top:108px;
	animation:fadeIn .2s linear 4.1s backwards;
	-webkit-animation:fadeIn .2s linear 4.1s backwards;
}
.u3rw{
	right:247px;
	top:23px;
	animation:fadeIn .2s linear 4.3s backwards;
	-webkit-animation:fadeIn .2s linear 4.3s backwards;
}
.u3-line{
	left:129px;
	top:116px;
	animation:fadeIn .5s linear 3.8s backwards infinite;
	-webkit-animation:fadeIn .5s linear 3.8s backwards infinite;
}
/*麋鹿篇 动画*/
.bg-e1{
	left:0px;
	top:60px;
	animation:fadeIn .2s linear 0s backwards;
	-webkit-animation:fadeIn .2s linear 0s backwards;
}
.e1-fire{
	left:35px;
	top:40px;
	animation:cap .7s linear .2s backwards infinite;
	-webkit-animation:cap .7s linear .2s backwards infinite;
}
.e1-lu{
	left:161px;
	top:155px;
	animation:fadeIn .2s linear .4s backwards;
	-webkit-animation:fadeIn .2s linear .4s backwards;
}
.e1w{
	left:160px;
	top:40px;
	animation:fadeIn .2s linear 1s backwards;
	-webkit-animation:fadeIn .2s linear 1s backwards;
}
.e1r-car{
	right:0px;
	top:110px;
	animation:fadeIn .2s linear .6s backwards;
	-webkit-animation:fadeIn .2s linear .6s backwards;
}
.bg-e1r{
	right:159px;
	top:61px;
	animation:fadeIn .2s linear .8s backwards;
	-webkit-animation:fadeIn .2s linear .8s backwards;
}
.e1r-line{
	right:166px;
	top:61px;
	animation:fadeIn .2s linear 1.2s backwards infinite;
	-webkit-animation:fadeIn .2s linear 1.2s backwards infinite;
}
.b-e1{
	animation:fadeIn .2s linear 1.4s backwards;
	-webkit-animation:fadeIn .2s linear 1.4s backwards;
}
/*1.8秒开始 */
.e2{
	animation:fadeIn .2s linear 1.8s backwards;
	-webkit-animation:fadeIn .2s linear 1.8s backwards;
}
.bg-e2{
	left:0px;
	top:41px;
	animation:fadeIn .2s linear 1.8s backwards;
	-webkit-animation:fadeIn .2s linear 1.8s backwards;
}
.e2-arm{
	left:37px;
	top:83px;
	animation:nao .8s linear 2s both infinite;
	-webkit-animation:nao .8s linear 2s both infinite;
}
.e2-lu{
	left:161px;
	top:155px;
	animation:fadeIn .2s linear 2.2s backwards;
	-webkit-animation:fadeIn .2s linear 2.2s backwards;
}
.e2r-car{
	right:0px;
	top:110px;
	animation:fadeIn .2s linear 2.4s backwards;
	-webkit-animation:fadeIn .2s linear 2.4s backwards;
}
.e2r{
	animation:fadeIn .2s linear 2.6s backwards;
	-webkit-animation:fadeIn .2s linear 2.6s backwards;
}
.bg-e2r{
	right:159px;
	top:41px;
	animation:fadeIn .2s linear 2.8s backwards;
	-webkit-animation:fadeIn .2s linear 2.8s backwards;
}
.e2rw{
	right: 249px;
    top: 59px;
	animation:fadeIn .2s linear 3s backwards;
	-webkit-animation:fadeIn .2s linear 3s backwards;
}
.e2r-arm1{
	right: 236px;
    top: 129px;
	animation:fd .3s linear 2.8s backwards;
	-webkit-animation:fd .3s linear 2.8s backwards;
}
.e2r-arm2{
	right: 125px;
    top: 124px;
	animation:fd .3s linear 2.8s backwards;
	-webkit-animation:fd .3s linear 2.8s backwards;
}
.b-e2{
	animation:fadeIn .2s linear 3.2s backwards;
	-webkit-animation:fadeIn .2s linear 3.2s backwards;
}
/*3.6s 开始*/
.bg-e3{
	left:0;
	top:61px;
	animation:fadeIn .2s linear 3.6s backwards;
	-webkit-animation:fadeIn .2s linear 3.6s backwards;
}
.e3-lu{
	left:120px;
	top:82px;
	animation:fadeIn .2s linear 3.8s backwards;
	-webkit-animation:fadeIn .2s linear 3.8s backwards;
}
.e3r-car{
	right:0;
	top:123px;
	animation:fadeIn .2s linear 4s backwards;
	-webkit-animation:fadeIn .2s linear 4s backwards;
}
.bg-e3r{
    right: 174px;
    top: 93px;
	animation:fadeIn .2s linear 4.2s backwards;
	-webkit-animation:fadeIn .2s linear4.2s backwards;
}
.e3rw{
    right: 203px;
    top: 12px;
	animation:fadeIn .5s linear 4.4s backwards;
	-webkit-animation:fadeIn .5s linear 4.4s backwards;
}
.e3-why{
	left: 153px;
    top: 9px;
	animation:fadeIn .5s linear 8.5s backwards infinite;
	-webkit-animation:fadeIn .5s linear 8.5s backwards infinite;
}


/*圣诞结篇 漫画*/
.c1-sled{
	left:0;
	top:112px;
	animation:fadeIn 0.2s linear 0s backwards;
	-webkit-animation:fadeIn .2s linear 0s backwards;
}
.c1{
	animation:fadeIn .2s linear .2s backwards;
	-webkit-animation:fadeIn .2s linear .2s backwards;
}
.bg-c1{
	left: 85px;
    top: 78px;
	animation:fadeIn .2s linear .2s backwards;
	-webkit-animation:fadeIn .2s linear .2s backwards;
}
.c1-arm{
	left: 195px;
    top: 133px;
	animation:naoR 1s linear 1s backwards;
	-webkit-animation:naoR 1s linear 1s backwards;
}
.c1r-car{
	right:0;
	top:113px;
	animation:fadeIn .2s linear .6s backwards;
	-webkit-animation:fadeIn .2s linear .6s backwards;
}
.c1r{
	animation:fadeIn .2s linear .4s backwards;
	-webkit-animation:fadeIn .2s linear .4s backwards;
}
.bg-c1r{
	top:75px;
	right:168px;
	animation:fadeIn .2s linear .4s backwards;
	-webkit-animation:fadeIn .2s linear .4s backwards;
}
.c1r-arm{
	right: 236px;
    top: 124px;
	animation:hdongL .5s linear .8s backwards;
	-webkit-animation:hdongL .5s linear .8s backwards;
}
.c1w{
	top: 0px;
    left: 98px;
	animation:fadeIn .2s linear .8s backwards;
	-webkit-animation:fadeIn .2s linear .8s backwards;
}
.c1rw{
	top:0px;
	right:106px;
	animation:fadeIn .2s linear .6s backwards;
	-webkit-animation:fadeIn .2s linear .6s backwards;
}
.b-c1{
	animation:fadeIn .2s linear 1.2s backwards;
	-webkit-animation:fadeIn .2s linear 1.2s backwards;
}
/* 1.8s 开始*/
.c2-sled{
	left:0;
	top:112px;
	animation:fadeIn .2s linear 1.8s backwards;
	-webkit-animation:fadeIn .2s linear 1.8s backwards;
}
.c2r-car{
	right:0;
	top:113px;
	animation:fadeIn .2s linear 2s backwards;
	-webkit-animation:fadeIn .2s linear 2s backwards;
}
.c2-line1{
    left: 219px;
    top: 30px;
    animation:fadeIn .2s linear 2.4s backwards;
	-webkit-animation:fadeIn .2s linear 2.4s backwards;
}
.c2-line2{
    left: 219px;
    top: 30px;
    animation:fadeIn .2s linear 2.8s backwards;
	-webkit-animation:fadeIn .2s linear 2.8s backwards;
}
.c2-star1{
	top:50px;
	left:181px;
	animation:fd .5s linear 2.6s backwards;
	-webkit-animation:fd .5s linear 2.6s backwards;
}
.c2-star2{
    left: 137px;
    top: 24px;
   	animation:fd .5s linear 2.8s backwards;
	-webkit-animation:fd .5s linear 2.8s backwards;
}
.c2-tuan{
	left:154px;
	top:35px;
	animation:fd .8s linear 2.2s backwards;
	-webkit-animation:fd .8s linear 2.2s backwards;
}
.b-c2{
    animation:fadeIn .2s linear 3s backwards;
	-webkit-animation:fadeIn .2s linear 3s backwards;
}

/* 3.5s 开始*/
.c3-sled{
	left:0;
	top:132px;
	animation:fadeIn .2s linear 3.5s backwards;
	-webkit-animation:fadeIn .2s linear 3.5s backwards;
}
.c3-lu{
	left:13px;
	top:41px;
	animation:fadeIn .2s linear 3.7s backwards;
	-webkit-animation:fadeIn .2s linear 3.7s backwards;
}
.bg-c3{
	left:58px;
	top:78px;
	animation:fadeIn .2s linear 3.9s backwards;
	-webkit-animation:fadeIn .2s linear 3.9s backwards;
}
.c3-line{
	left: 163px;
    top: 123px;
    animation:fd .5s linear 4.6s backwards infinite;
	-webkit-animation:fd .5s linear 4.6s backwards infinite;
}
.bg-c3r{
	right:55px;
	top:78px;
	animation:fadeIn .2s linear 4.1s backwards;
	-webkit-animation:fadeIn .2s linear 4.1s backwards;
}
.c3r-line{
	right: 140px;
    top: 93px;
   	animation:fd .5s linear 4.6s backwards infinite;
	-webkit-animation:fd .5s linear 4.6s backwards infinite;
}
.c3r-car{
	top:123px;
	right:0;
	animation:fadeIn .2s linear 4s backwards;
	-webkit-animation:fadeIn .2s linear 4s backwards;
}
.c3w{
	left:114px;
	top:12px;
	animation:fadeIn .2s linear 4.3s backwards;
	-webkit-animation:fadeIn .2s linear 4.3s backwards;
}
.c3rw{
    right: 140px;
    top: 17px;
	animation:fadeIn .2s linear 4s backwards;
	-webkit-animation:fadeIn .2s linear 4s backwards;
}


/*老司机篇 漫画部分*/
.bg-o1{
	width:100%;
	bottom:15px;
}
.o1-r{
	left:100px;
	top:69px;
}
.o1-lu{
	left:248px;
	top:56px;
}
.o1-music{
	left: 67px;
    top: 28px;
     animation:fd 1.4s linear 0.6s backwards infinite;
	-webkit-animation:fd 1.4s linear 0.6s backwards infinite;
}
.bg-o1r{
	right: 126px;
    top: 31px;
}
.o1rw{
	right: 52px;
    top: 1px;
    animation:fadeIn .3s linear .3s backwards;
	-webkit-animation:fadeIn .3s linear .3s backwards;
}
.bs.b-o1{
    animation:fadeIn .2s linear .9s backwards;
	-webkit-animation:fadeIn .2s linear .9s backwards;
}
/* 老司机篇漫画 o2 1*/
.bg-o2{
	width:100%;
	bottom:15px;
	animation:fadeIn .2s linear 1s backwards;
	-webkit-animation:fadeIn .2s linear 1s backwards;
}
.o2-r{
	left:100px;
	top:75px;
	animation:fadeIn .2s linear 1s backwards;
	-webkit-animation:fadeIn .2s linear 1s backwards;
}
.o2-lu{
	left:247px;
	top:65px;
	animation:fadeIn .3s linear 1s backwards;
	-webkit-animation:fadeIn .3s linear 1s backwards;
}
.o2-why{
	left:210px;
	top:65px;
	animation:fadeIn .3s linear 1.4s backwards;
	-webkit-animation:fadeIn .3s linear 1.4s backwards;
}
.o2w{
	left:30px;
	top:15px;
	animation:fadeIn .3s linear 1.5s backwards;
	-webkit-animation:fadeIn .3s linear 1.5s backwards;
}
.o2r{
	animation:fadeIn .3s linear 1s backwards;
	-webkit-animation:fadeIn .3s linear 1s backwards;
}
.bg-o2r{
	right: 115px;
    top: 65px;
	animation:fadeIn .3s linear 1s backwards;
	-webkit-animation:fadeIn .3s linear 1s backwards;
}
.o2r-arm{
	right: 124px;
    top: 127px;
    animation:nao .5s linear 1.3s backwards;
	-webkit-animation:nao .5s linear 1.3s backwards;
}
.o2rw{
	right:30px;
	top:5px;
	animation:fadeIn .3s linear 1.6s backwards;
	-webkit-animation:fadeIn .3s linear 1.6s backwards;
}
.bs.b-o2{
	animation:fadeIn .3s linear 1.9s backwards;
	-webkit-animation:fadeIn .3s linear 1.9s backwards;
}
/*老司机篇 漫画 o3  2.5s */
.bg-o3{
	width:100%;
	animation:fadeIn .3s linear 2.5s backwards;
	-webkit-animation:fadeIn .3s linear 2.5s backwards;
}
.o3-r{
    left: 39px;
    top: 101px;
	animation:fadeIn .3s linear 2.5s backwards;
	-webkit-animation:fadeIn .3s linear 2.5s backwards;
}
.o3-lu{
	left: 230px;
    top: 76px;
	animation:fadeIn .3s linear 2.5s backwards;
	-webkit-animation:fadeIn .3s linear 2.5s backwards;
}
.o3w{
	left:30px;
	top:10px;
	animation:fadeIn .3s linear 2.8s backwards;
	-webkit-animation:fadeIn .3s linear 2.8s backwards;
}
.bg-o3r{
	right:135px;
	top:80px;
	animation:fadeIn .3s linear 2.5s backwards;
	-webkit-animation:fadeIn .3s linear 2.5s backwards;
}
/* 睡觉篇 漫画部分 */
.bg-sl1{
	width:100%;
	bottom:15px;
	animation:fadeIn .3s linear 0s backwards;
	-webkit-animation:fadeIn .3s linear 0s backwards;
}
.sl1-r{
	left:100px;
	top:64px;
	animation:fadeIn .3s linear 0s backwards;
	-webkit-animation:fadeIn .3s linear 0s backwards;
}
.sl1-lu{
    left: 259px;
    top: 60px;
	animation:fadeIn .3s linear 0s backwards;
	-webkit-animation:fadeIn .3s linear 0s backwards;
}
.sl1{
	animation:fadeIn .3s linear 0s backwards;
	-webkit-animation:fadeIn .3s linear 0s backwards;
}
.sl1-arm{
    left: 111px;
    top: 123px;
     animation:moveR 1s linear .8s backwards infinite;
	-webkit-animation:moveR 1s linear .8s backwards infinite;
}
.bg-sl1r{
	right: 149px;
    top: 70px;
	animation:fadeIn .3s linear 0s backwards;
	-webkit-animation:fadeIn .3s linear 0s backwards;
}
.sl1w{
	left: 52px;
    top: 1px;
    animation:fadeIn .3s linear .4s backwards;
	-webkit-animation:fadeIn .3s linear .4s backwards;
}
.sl1rw{
	right: 52px;
    top: 0px;
    animation:fadeIn .3s linear .7s backwards;
	-webkit-animation:fadeIn .3s linear 0.7s backwards;
}
.sl1-zzz{
    left: 250px;
    top: 46px;
	animation:fd .3s linear 1s backwards;
	-webkit-animation:fd .3s linear 1s backwards;
}
.bs.b-sl1{
    animation:fadeIn .2s linear 1.2s backwards;
	-webkit-animation:fadeIn .2s linear 1.2s backwards;
}
/* 睡觉篇 漫画 2   1.5s */
.bg-sl2{
	width:100%;
	bottom:15px;
	animation:fadeIn .3s linear 1.5s backwards;
	-webkit-animation:fadeIn .3s linear 1.5s backwards;
}
.sl2-r{
    left: 90px;
    top: 77px;
	animation:fadeIn .3s linear 1.5s backwards;
	-webkit-animation:fadeIn .3s linear 1.5s backwards;
}
.sl2-lu{
    left: 259px;
    top: 60px;
	animation:fadeIn .3s linear 1.5s backwards;
	-webkit-animation:fadeIn .3s linear 1.5s backwards;
}
.sl2-sudor{
	left: 129px;
    top: 71px;
     animation:fd 1s linear 1.8s backwards infinite;
	-webkit-animation:fd 1s linear 1.8s backwards infinite;
}
.bg-sl2r{
    right: 161px;
    top: 82px;
	animation:fadeIn .3s linear 1.5s backwards;
	-webkit-animation:fadeIn .3s linear 1.5s backwards;
}
.sl2w{
	left:30px;
    top: 30px;
    animation:fadeIn .3s linear 2s backwards;
	-webkit-animation:fadeIn .3s linear 2s backwards;
}
.sl2-zzz{
    left: 250px;
    top: 46px;
	animation:fd .3s linear 2.3s backwards;
	-webkit-animation:fd .3s linear 2.3s backwards;
}
.bs.b-sl2{
    animation:fadeIn .2s linear 2.5s backwards;
	-webkit-animation:fadeIn .2s linear 2.5s backwards;
}
/* 睡觉篇 漫画 3  2.8s*/
.bg-sl3{
	width:100%;
	animation:fadeIn .3s linear 2.8s backwards;
	-webkit-animation:fadeIn .3s linear 2.8s backwards;
}
.sl3-r{
	left:100px;
	top:102px;
	animation:fadeIn .3s linear 2.8s backwards;
	-webkit-animation:fadeIn .3s linear 2.8s backwards;
}
.sl3-lu{
    left: 259px;
    top: 72px;
	animation:fadeIn .3s linear 2.8s backwards;
	-webkit-animation:fadeIn .3s linear 2.8s backwards;
}

.bg-sl3r{
    right: 158px;
    top: 83px;
	animation:fadeIn .3s linear 2.8s backwards;
	-webkit-animation:fadeIn .3s linear 2.8s backwards;
}
.sl3w{
	left: 67px;
    top: 83px;
    animation:fadeIn .3s linear 3.4s backwards;
	-webkit-animation:fadeIn .3s linear 3.4s backwards;
}
.sl3rw{
	right: 52px;
    top: 35px;
    animation:fadeIn .3s linear 3.1s backwards;
	-webkit-animation:fadeIn .3s linear 3.1s backwards;
}
.sl3-star{
    left: 261px;
    top: 81px;
	animation:fd .6s linear 3.5s backwards infinite;
	-webkit-animation:fd .6s linear 3.5s backwards infinite;
}


/* 领券部分 */
.slide-15 .g-peo{
	width:100%;
	left:0;
	top:20%;
	z-index:9;
	animation:fadeIn linear .3s .6s both;
	-webkit-animation:fadeIn linear .3s .6s both;
}
.slide-15 .glw{
	left:10%;
	top:9%;
	animation:fadeIn linear .3s .9s both;
	-webkit-animation:fadeIn linear .3s .9s both;
}
.slide-15 .grw{
	right:10%;
	top:9%;
	animation:fadeIn .3s linear 1.3s backwards;
	-webkit-animation:fadeIn .3s linear 1.3s backwards;
}
.slide-15 .inputcon{
	position:absolute;
	top:46%;
	width:100%;
	left:0;
}
.slide-15 .inputcon li{
	position:relative;
	box-sizing:border-box;
	height:126px;
}

li .btn-go{
	display:block;
	position: absolute;
	z-index:99;
	width:20%;
	right:10%;
	height: 80px;
    top: 27px;
}
li .bg-tel,li .v-tel{
	width:80%;
	left:10%;
	top:0;
}
li .input-tel{
	position:absolute;
	display:block;
	width:80%;
	height:116px;
	left:10%;
	background:none;
	border:none;
	line-height: 126px;
	box-sizing:border-box;
	padding-left:70px;
	padding-top:30px;
	font-size:1.8rem;
	outline: none;
	-webkit-tap-highlight-color:transparent;
}

img.btn-again{
	width:35%;
	left:10%;
	animation:fadeIn .2s linear 1.3s backwards;
	-webkit-animation:fadeIn .2s linear 1.3s backwards;
}
img.btn-share{
	width:35%;
	right:10%;
	animation:fadeIn .2s linear 1.5s backwards;
	-webkit-animation:fadeIn .2s linear 1.5s backwards;
}





/* 弹窗部分 */
.alcon{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.7);
	z-index:99;
}
.alcon .sharecon{
	position:absolute;
	width:100%;
	height:100%;
}
.alcon .sharecon img{
	position:absolute;
}
.alcon .sh-lu{
	width:30%;
	right:14%;
	top:10%;
	-webkit-animation: fadeIn 1s linear 0s both;
    animation: fadeIn 1s linear 0s both;
}
.alcon .sh-snow1{
	width:35%;
	right:3%;
 	-webkit-animation: snow 2s infinite linear 1.5s both;
    animation: snow 2s infinite linear 1.5s both;
}
.alcon .sh-snow2{
	width:35%;
	right:10%;
 	-webkit-animation: snow 2s infinite linear .5s both;
    animation: snow 2s infinite linear .5s both;
}
.rescon{
	position:absolute;
	top:20%;
	left:10%;
	width:80%;
	height:56%;
	background:#fff;
	color:#1f394a;
	border-radius:1rem;
	box-sizing:border-box;
}
.rescon .g-title{
	width:70%;
	left:15%;
	top:7%;
}
.rescon .g-quan{
	width:90%;
	left:5%;
	top:23%;
}
.rescon .res-w{
	position:absolute;
	width:100%;
	top:71%;
	left:0;
	text-align:center;
    line-height: 1.2rem;
    font-size: .8rem;
}
.rescon .btn-dld{
	width:60%;
	left:20%;
	top:81%;
}
.rescon .g-close{
	bottom:-20%;
    width: 16%;
    left: 42%;
}
/* 音乐播放 */
.music-btn{
	position: fixed;
	width:35px;
	height:35px;
	right:2%;
	top:2%;
	background: url('../images/music_on.png') no-repeat;
	background-size:100% 100%;
	z-index:99;
}
.music-btn.on{
	background: url('../images/music_on.png') no-repeat;
	background-size:100% 100%;}
.music-btn.off{
	background: url('../images/music_off.png') no-repeat;
	background-size:100% 100%;
}



/* 动画分解 */

.fadeIn{
 	-webkit-animation: fadeIn .2s linear 0s both;
    animation:fadeIn .2s linear 0s both;
}


.delay200{
	-webkit-animation-delay:200ms;
	animation-delay:200ms;
}
.delay300{
	-webkit-animation-delay:300ms;
	animation-delay:300ms;
}
.delay400{
	-webkit-animation-delay:400ms;
	animation-delay:400ms;
}
.delay500{
	-webkit-animation-delay:500ms;
	animation-delay:500ms;
}
.delay800{
	-webkit-animation-delay:800ms;
	animation-delay:800ms;
}
.delay1000{
	-webkit-animation-delay:1000ms;
	animation-delay:1000ms;
}
.delay1200{
	-webkit-animation-delay:1200ms;
	animation-delay:1200ms;
}
.delay1500{
	-webkit-animation-delay:1500ms;
	animation-delay:1500ms;
}
.delay2000{
	-webkit-animation-delay:2000ms;
	animation-delay:2000ms;
}
.fadeOut{
	-webkit-animation: fadeOut .3s linear 0 both;
    animation: fadeOut .3s linear 0 both;
}
.slideLeft{
	-webkit-animation: fadeInLeft .2s linear .4s both;
    animation: fadeInLeft .2s linear .4s both;
}
.slideRight{
	-webkit-animation: fadeInRight .2s linear .6s both;
    animation: fadeInRight .2s linear .6s both;
}
.upDown{
	-webkit-animation: cap  .5s infinite linear 1s both;
    animation: cap  .5s infinite linear 1s both;
}
.bling{
	-webkit-animation: fd  .5s infinite linear .8s both;
    animation: fd  .5s infinite linear .8s both;
}

@-webkit-keyframes passdown{
	0%{bottom:6%;opacity:.3}
	50%{bottom:4%;opacity:.8}
	100%{bottom:6%;opacity:1}
}
@-webkit-keyframes cap{
	0%{margin-top:0px;}
	60%{margin-top:-15px;}
	100%{margin-top:0px;}
}

@keyframes music_rotate {
    0% {
       transform:rotate(0deg);
    }
    100% {
       transform:rotate(360deg);
    }
}

@-webkit-keyframes music_rotate {
   0% {
       -webkit-transform:rotate(0deg);
    }

   
    100% {
       -webkit-transform:rotate(360deg);
    }
}
/*动画*/
@-webkit-keyframes arr{
	from {
		background-position:0 0;
		opacity:1;
		}
	to {
		background-position:200% 0;
		opacity:1;
		}
	}
@keyframes arr{
	from {
		background-position:0 0;
		opacity:1;
		}
	to {
		background-position:200% 0;
		opacity:1;
		}
	}
@keyframes fd{
	0%{
		transform:scale(1);
		opacity:0;
	}
	100%{
		transform:scale(1.1);
		opacity:1;
		}
}
@-webkit-keyframes fd{
	0%{
		-webkit-transform:scale(1);
		opacity:0;
	}
	100%{
		-webkit-transform:scale(1.1);
		opacity:1;
		}
}
@-webkit-keyframes ring{
	0%{
		-webkit-transform:scale(0.2);
		opacity:1;
	}
	100%{
		-webkit-transform:scale(1);
		opacity:1;
		}
}
@keyframes ring{
	0%{
		transform:scale(0.2);
		opacity:1;
	}
	100%{
		transform:scale(1);
		opacity:1;
		}
}
@keyframes jiao {
    0%{
        transform: translate3d(100px, 0, 0);
		opacity:1;
    }
    100%{
        transform: translate3d(0, 0, 0);
		opacity:1;
    }
}
@-webkit-keyframes jiao {
     0%{
        -webkit-transform: translate3d(100px, 0, 0);
		opacity:1;
    }
    100%{
        -webkit-transform: translate3d(0, 0, 0);
		opacity:1;
    }
}
@keyframes jump{
	0%{
		transform:rotate(0deg);
		opacity:1;
	}
	15%{
		transform:rotate(-20deg);
		opacity:1;
	}
	35%{
		transform:rotate(-50deg);
		opacity:1;
	}
	40%{
		transform:rotate(-20deg);
		opacity:1;
	}
	50%{
		transform:rotate(0);
		opacity:1;
	}
	65%{
		transform:rotate(-20deg);
		opacity:1;
	}
	75%{
		transform:rotate(-50deg);
		opacity:1;
	}
	80%{
		transform:rotate(-20deg);
		opacity:1;
	}
	100%{
		transform:rotate(0);
		opacity:1;
	}
}
@keyframes hdong {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:0;
    }
    20%{
        transform: rotate(-30deg) translate(0,-15px);
		opacity:1;
    }
    35%{
        transform: rotate(-20deg) translate(0,-15px);
		opacity:1;
    }
    50%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    70%{
        transform: rotate(-25deg) translate(0,-15px);
		opacity:1;
    }
    85%{
        transform: rotate(-20deg) translate(0,-15px);
		opacity:1;
    }
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
}
@keyframes hdongL {
    0%{
        transform:translate(0px);
		opacity:1;
    }
    35%{
        transform: rotate(20deg) translateY(-20px);
		opacity:1;
    }
    100%{
        transform: translate(0px);
		opacity:1;
    }
   
}
@-webkit-keyframes hdongL {
    0%{
        transform:translate(0px);
		opacity:1;
    }
    35%{
        transform: rotate(20deg) translateY(-20px);
		opacity:1;
    }
    100%{
        transform: translate(0px);
		opacity:1;
    }
}
@-webkit-keyframes hdong {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:0;
    }
    20%{
        transform: rotate(-30deg) translate(0,-15px);
		opacity:1;
    }
    35%{
        transform: rotate(-20deg) translate(0,-15px);
		opacity:1;
    }
    50%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    70%{
        transform: rotate(-25deg) translate(0,-15px);
		opacity:1;
    }
    85%{
        transform: rotate(-20deg) translate(0,-15px);
		opacity:1;
    }
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
}
@keyframes hdong0 {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
    50%{
        transform: rotate(-20deg) translate(0,-20px);
		opacity:1;
    }
    
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
}
@keyframes naoR {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    25%{
        transform: rotate(10deg) translate(-3px);
		opacity:1;
    }
    
    45%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    80%{
        transform: rotate(10deg) translate(-3px);
		opacity:1;
    }
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
}
@-webkit-keyframes naoR {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    25%{
        transform: rotate(10deg) translate(-3px);
		opacity:1;
    }
    
    45%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    80%{
        transform: rotate(10deg) translate(-3px);
		opacity:1;
    }
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
}
@keyframes nao {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
    50%{
        transform: rotate(-20deg) translate(-5px,-5px);
		opacity:1;
    }
    
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
}
@-webkit-keyframes nao {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
    50%{
        transform: rotate(-20deg) translate(-5px,-5px);
		opacity:1;
    }
    
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
}
@keyframes nao0 {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
    50%{
        transform: rotate(20deg) translate(5px,5px);
		opacity:1;
    }
    
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
}
@-webkit-keyframes nao0 {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
    50%{
        transform: rotate(20deg) translate(5px,5px);
		opacity:1;
    }
    
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
}
@-webkit-keyframes hdong0 {
    0%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
    
    50%{
        transform: rotate(-20deg) translate(0,-20px);
		opacity:1;
    }
    
    100%{
        transform: rotate(0deg) translate(0px);
		opacity:1;
    }
}

@keyframes sx{
	0%{
		transform:scale(4);
		opacity:1;
	}
	20%,60%{
		transform:scale(0.9);
		opacity:1;
	}
	40%,80%{
		transform:scale(1);
		opacity:1;
	}
	100%{
		transform:scale(1);
		opacity:1;
		}
}
@-webkit-keyframes sx{
	0%{
		-webkit-transform:scale(4);
		opacity:1;
	}
	20%,60%{
		-webkit-transform:scale(0.9);
		opacity:1;
	}
	40%,80%{
		-webkit-transform:scale(1);
		opacity:1;
	}
	100%{
		-webkit-transform:scale(1);
		opacity:1;
		}
}
@-webkit-keyframes fadeOut{
  0% {
	  opacity:1;
  }
  100%{
	  opacity:0;
  }
	}
@keyframes fadeOut{
  0% {
	  opacity:1;
  }
  100%{
	  opacity:0;
  }
	}
@-webkit-keyframes fadeIn{
  0% {
	  opacity:0;
  }
  100%{
	  opacity:1;
  }
}
@keyframes fadeIn{
  0% {
	  opacity:0;
  }
  100%{
	  opacity:1;
  }
}
@-webkit-keyframes fadeInSlow{
  0% {
	  opacity:0;
  }
  25%{
	  opacity:.5;
  }
  50%{
	  opacity:1;
  }
  75%{
	  opacity:.5;
  }
  100%{
	  opacity:0;
  }
}
@keyframes fadeInSlow{
  0% {
	  opacity:0;
  }
  25%{
	  opacity:.5;
  }
  50%{
	  opacity:1;
  }
  75%{
	  opacity:.5;
  }
  100%{
	  opacity:0;
  }
}
@keyframes moveR{
	0%{
		opacity:1;
		transform:translate3d(0px , 0px , 0);
	}
	50%{
		opacity:1;
		transform:translate3d(5px , 0px , 0);
	}
	100%{
		opacity:1;
		transform:translate3d(0px , 0px , 0);
	}
}
@-webkit-keyframes moveR{
	0%{
		opacity:1;
		-webkit-transform:translate3d(0px , 0px , 0);
	}
	50%{
		opacity:1;
		-webkit-transform:translate3d(-5px , 0px , 0);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0px , 0px , 0);
	}
}
@-webkit-keyframes fadeInLeft{
  0% {
	  opacity:0;
	  -webkit-transform:translate3d(-18px , 0px , 0);
  }
  100%{
	  opacity:1;
	  -webkit-transform:translate3d(0px , 0px , 0);
  }
}
@keyframes fadeInLeft{
  0% {
	  opacity:0;
	  transform:translate3d(-18px , 0px , 0);
  }
  100%{
	  opacity:1;
	  transform:translate3d(0px , 0px , 0);
  }
}
@-webkit-keyframes fadeInRight{
  0% {
	  opacity:0;
	  -webkit-transform:translate3d(18px , 0px , 0);
  }
  100%{
	  opacity:1;
	  -webkit-transform:translate3d(0px , 0 , 0);
  }
}
@keyframes fadeInRight{
  0% {
	  opacity:0;
	  transform:translate3d(18px , 0px , 0);
  }
  100%{
	  opacity:1;
	  transform:translate3d(0px , 0 , 0);
  }
}

@-webkit-keyframes scaleXin {
  0%,100% {
	  opacity:1;
	  -webkit-transform:scale(1);
  }
  50%{
	  opacity:1;
	  -webkit-transform:scale(0.8);
  }
}
@keyframes scaleXin {
   0%,100% {
	  opacity:1;
	  transform:scale(1);
  }
  50%{
	  opacity:1;
	  transform:scale(0.8);
  }
}
@-webkit-keyframes snow{
	0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
	100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
    }
	}
@keyframes snow{
	0% {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    50% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
	100% {
        opacity: 0;
        transform: translate3d(0, 60px, 0);
    }
	}
@-webkit-keyframes t_to_b{
	0%, 100%{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
    }
	50% {
        opacity: 1;
        -webkit-transform: translate3d(0, -10px, 0);
    }
	}
@keyframes t_to_b{
	0%, 100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
	50% {
        opacity: 1;
        transform: translate3d(0, -10px, 0);
    }
	}
